<%
	if(value == null && typeof value == 'undefined')
		return;
%>
	
<%
		if(value.contactListPanel != null && value.contactListPanel.metaworksContext.how =='follower') {
			if(value.searchBox){
%>        	              
	            <div id="contactsearchbox">
					<%=fields.searchBox.here()%>
				</div>
<%
			}
		}
%>
		<%=fields.contactListPanel.here()%>
		<div style=" margin:5px;">
		</div>
