<div style="position:absolute; right:10px; bottom:10px; z-index:1000;">
	<a id="wBtn" href="#" onClick="<%= methods.popupAddFollowers.caller() %>"><span><%=mw3.localize("$Save")%></span></a>
	<a id="wBtn" href="#" onClick="<%= methods.cancel.caller() %>"><span><%=mw3.localize("$Cancel")%></span></a>
</div>