<%
	if(value != null){

var isDashboard = (mw3.how == "dashboard");


%>
	<%if(isDashboard){%>
		<%=fields.appList.here() %>
		
		
	<%}else{%>	
		<div class="depth1">
			<a onClick="<%=methods.select.caller()%>" href="#"><%=mw3.localize("$App")%></a>
		</div>
			<%if(value.selected){%>
				<div class="depth2">
					<ul class="fist_menu">
						<li>
							<%=fields.appList.here() %>
						</li>
					</ul>
				</div>
			<%}%>
	<%}%>
	
<%
}
%>