<div class="form_table2"> 
	<table border="1" cellspacing="0">
		<tr>
			<th>
				<%=mw3.localize('$ProjectName')%>
			</th>
			<td>
				<%=fields.name.here()%>
			</td>
		</tr>
		<tr>
			<th>
				<%=mw3.localize('$ProjectDescription')%>
			</th>
			<td>
				<%=fields.description.here()%>
			</td>		
		</tr>
	</table>
</div>