<% 
//mw3.debug(value);

var horizontal = false;

	if(descriptor!=null){
		horizontal = descriptor.getOptionValue('alignment') == 'horizontal';
	}

if(!value || value.length==0){

	mw3.newBeanProperty(objectId);
}else{

	mw3.newBeanProperty(objectId);

	if(horizontal){
		 %>
		 <table>
		 <%	
	}

  for (var i=0; i<value.length; i++){
//	if(!objectTypeName && value[i] && value[i].__className && value[i].__className.length > 0)
		objectTypeName = value[i].__className;  
		
		if(horizontal){
			 %>
			 <td>
			 <%	
 		}
 %>

<%=mw3.locateObject(value[i], objectTypeName)%>

<%

		mw3.addBeanProperty(objectId, "[" + i + "]");

		if(horizontal){
			 %>
			 </td>
			 <%	
 		}

   }
 }

	if(horizontal){
		 %>
		 </table>
		 <%	
	}


if((mw3.when==mw3.WHEN_EDIT || mw3.when==mw3.WHEN_NEW) && !(objectMetadata.faceOptions && objectMetadata.faceOptions['hideAddBtn'])){
%>

<input type=button value="Add" onclick="mw3.getFaceHelper('<%=objectId%>').addNew()">
<%
}
%>