<%
    if(value){
        if(value.knowledgeMarketNode){
%>
    <ul>
<%
            for (var i=0; i<value.knowledgeMarketNode.length; i++){
                if(typeof options == 'undefined') 
                    options = objectMetadata;
                    
                options['index'] = i;
                options['htmlTag'] =  'li';
%>
                <%=mw3.locateObject(value.knowledgeMarketNode[i], value.knowledgeMarketNode[i].__className, null, options)%>    
<%
                mw3.addBeanProperty(value.__objectId, '.knowledgeMarketNode[' + i + ']');
            }
%>
        </ul>
        
            <%
            if(!value.selectedMore) {
            %>
                <span class="west_more_btn" style="display:none"><a onClick="<%=methods.moreView.caller()%>" href="#"><%=mw3.localize('$More')%></a></span>
<%
            }
        }
    }
%>  
