<div class="mp_left_btn" style="cursor: pointer"><img src="images/marketPlace/leftBtn01.gif" onClick="<%=methods.registerApp.caller()%>" /></div>
<div class="mp_left_btn" style="cursor: pointer"><img src="images/marketPlace/leftBtn02.gif" onClick="<%=methods.manageApp.caller()%>" /></div>