<%
	if(value){
	
%>
	<div class="detailView_app_outer">
	
	<% if(mw3.where!='oce_home'){ %>

		<div class="positionRight">
			<img style="cursor: pointer;" src="images/marketPlace/leftBtn01.gif" onClick="<%=methods.createApp.caller()%>" />
		</div>
		<div class="clear"></div>
		
	<% } %>
	
<% if(value.listing != null){ %>

	<% if(mw3.where!='oce_home'){ %>
	
		<div class="detailView_app" style="margin-top: 5px;">
			<div class="clear"></div>
		</div>
		
	<% } %>
	
		<%=fields.listing.here()%>
		
	</div>
	
<%
		}
	}
%>