<%
	if(value){
		if(value.metaworksContext.when == mw3.WHEN_EDIT){
%>
	
<div style="padding:10px;">
<textarea id="instanceName_<%=objectId%>" row="1" class="instanceName"><%=value ? value.instanceName : ""%></textarea>
</div>

<%
		}else {
%>
<div style="padding:10px;">
	<div id="instanceName_<%=objectId%>" class="instanceName"><%=value.instanceName%></div>
</div>
<%
		}
	}
%>	