
<div style="bottom: 50px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
	<div style="position: absolute; left: 0px; right: 120px; top: 0px; bottom: 0px;">
		<%=fields.fieldTree.here()%>
	</div>
	
	<div style="position: absolute; right: 0px; top: 0px; bottom: 0px; width: 120px">
		<input type="button" value="Select All" />
		<input type="button" value="Deselect All" />
		<input type="button" value="Select Getters" />
		<input type="button" value="Select Setters" />
	</div>	
</div>

<div style="height: 50px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">
	<div class="positionRight">
		<%=methods.ok.here()%>
		<%=methods.cancel.here()%>
	</div>
	<div class="clear"></div>
</div>