<div id="new_object" style="width:100%; height:100%;">
	<div id="new_object_inner" style="width:500px; height:500px; margin:150px auto;">
		<div style="">
			<div style="display:inline;" onclick="<%=methods.newEntity.caller()%>"><image src="images/waveStyle/newObject01.png"></div>
			<div style="display:inline;" onclick="<%=methods.newProcess.caller()%>"><image src="images/waveStyle/newObject02.png"></div>
		</div>
		<div style="">
			<div style="display:inline;" onclick="<%=methods.newForm.caller()%>"><image src="images/waveStyle/newObject03.png"></div>
			<div style="display:inline;" onclick="<%=methods.newJavaClass.caller()%>"><image src="images/waveStyle/newObject04.png"></div>
		</div>	
	</div>

</div>
