<div class="form_table2"> 
	<table border="1" cellspacing="0">
		<tr>
			<th>
				운영체제 선택
			</th>
			<td>
				<%=fields.osSelect.here()%>
			</td>
		</tr>
		<tr>
			<th>
				서버엔진 선택
			</th>
			<td>
				<%=fields.wasSelect.here()%>
			</td>
		</tr>
		<tr>
			<th>
				데이터베이스 선택
			</th>
			<td>
				<%=fields.dbSelect.here()%>
			</td>
		</tr>
	</table>
</div>