<%
	if(value != null && typeof value != 'undefined'){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("$Valuechain")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<div class="fist_menu"><%=fields.valueChainTreeList.here()%></div>
	</div>
<%}else{%>
<%}%>

<%
	}
%>