<%
if(value){
%>

	<ul>
			<li>
				<dl class="lst_type2">
				<dd class="tit">
						<div id="popupInfoNameWih"><b><%=value.name %></b></div>
						<div class="infoSub"><span class="infoSubFirstSpan">엘리먼트 ID :</span><span><%=value.shapeId %></span></div>
					</dd>
	
			</dl>
		</li>    
	</ul>
	
<%
}
%>