<%
	if(value){
%>

<div class="left" style="width: 110px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; top: 0px;border-right:1px solid #ccc;height:100%; padding:5px;">
	<%=fields.instanceMonitorNavigator.here()%>	
</div>

<div class="right" style="left: 121px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px; right: 0px; top:0px; bottom: 0px; background:#f9f9f9">	
	<%=fields.instanceMonitor.here()%>
</div>

<%
	}
%>
	