<%
		if(value && value.defId != null){		
		
		var url = "http://www.processcodi.org:8080/uengine-web/admin.html?defId=" + value.defId;
		
%>

<div id="fb-root"></div>
<script>
  (function() {
    var e = document.createElement('script');
    e.src = document.location.protocol + '//connect.facebook.net/ko_KR/all.js#xfbml=1&appId=119159701538006';
    e.async = false;
    document.getElementById('fb-root').appendChild(e);
  }());
</script>
	<fb:comments href="<%=url%>" num_posts="2" width="470"></fb:comments>
<%
		}
%>		