<% if(value!=null){%>
<table>

	<tr onclick="<%=methods.detail.caller()%>">
		<td><%=fields.initiator.here()%></td> 
		<td><%=fields.currentUser.here()%></td> 
		<td><%=fields.name.here()%></td>
	</tr>
	
</table>

<%}%>
