<%if (value!=null){%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<p>
<div onclick="<%=methods.more.caller()%>">[more...]</div>


<%}

}%>