<%
	if(value != null && typeof value != 'undefined'){
		if(value.type == 'menu_item'){ 
%>

<span><%=value.shortcut?value.shortcut:''%></span><u> </u><%=value.name%>

<%=fields.subMenu.here()%>

<%
		}
	}
%>
