<%
	if(value){
%>

<div id="mobile_left_container">
<%=fields.perspectivePanel.here()%>
</div>

<div id="main_container">
	
	<div class="top" style="height: 52px; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px; z-index:2;">
		<%=fields.topPanel.here()%>
	</div>
	
	<div class="bottom" style="top: 52px; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px; overflow:auto">
		<%=fields.appPanel.here()%>
	</div>

</div>

<div id="mobile_right_container">
</div>

<%
	}
%>