<%
if(value) {
    var humanActivity = value.humanActivity;
%>

     <a href="#" onClick="<%=methods.showProperties.caller()%>">
        <span> <%=humanActivity.name.text%> </span>
     </a>
    
<%
}
%>
