<%
	var format = value.format;
	
	if(format == 'yy-mm-dd') {
		format = 'YYYY-MM-DD';
	}
	else if(format == 'dd-mm-yy') {
		format = 'DD-MM-YYYY';
	}
%>

<span>
	<input readonly="readonly" class="text" size="10" type="text" value="<%=format%>">
</span>	

<img src="images/waveStyle/i_gantt.png" alt="Pick Date." class="icon" style="position:relative; top:2px;"> 