<%
	if(value){
%>
<div class="depth1">
	<a onClick="<%=methods.select.caller()%>" href="#"><%=mw3.localize("$Project")%></a>
</div>

<%if(value.selected){%>

	<div class="depth2">
		<%=fields.projectPanel.here() %>
	</div>
<%}%>

<%
	}
%>