
<% 
var horizontal = false;

	if(descriptor!=null){
		horizontal = descriptor.getOptionValue('alignment') == 'horizontal';
	}

if(!value || value.length==0){

	mw3.newBeanProperty(objectId);
}else{

	mw3.newBeanProperty(objectId);

	if(horizontal){
		 %>
		 <div>
		 <%	
	}

  for (var i=0; i<value.length; i++){
		objectTypeName = value[i].__className;  
		
		if(horizontal){
			 %>
			 <span style="float:left">
			 <%	
 		}else{
			 %>
			 <div>
			 <%	
 		}
 %>

<%=mw3.locateObject(value[i], objectTypeName)%>

<%

		mw3.addBeanProperty(objectId, "[" + i + "]");

		if(horizontal){
			 %>
			 </span>
			 <%	
 		}else{
			 %>
			 </div>
			 <%	
 		}

   }
 }

	if(horizontal){
		 %>
		 </div>
		 <%	
	}


if((mw3.when==mw3.WHEN_EDIT || mw3.when==mw3.WHEN_NEW) && !(objectMetadata && objectMetadata.faceOptions && objectMetadata.faceOptions['hideAddBtn'])){
%>

<!-- <input type=button value="Add" onclick="mw3.getFaceHelper('<%=objectId%>').addNew()"> -->
<%
}
%>