<table>
    <tr>
        <td><%= value.errorMessage != null ? value.errorMessage : "잘못된 페이지 입니다."%>
        </td>
    </tr>
</table>
<div style="clear:both"></div>
<div style="clear:both"></div>
<div class="positionRight" style="padding-top:10px;">
    <a id="wBtn" href="#" onClick="<%=methods.close.caller()%>"><span style="color:#000; margin-right:0px"><%=mw3.localize("$Close")%></span></a>
</div>