<div id="openmind_btn" style="height:30px;">
	<table>
		<tr>
			<td width="15"><img src="images/waveStyle/navi_icon.png"></td>
			<td ><b> 기준 프로세스 목록 </b></td>
			<td></td>
		</tr>
	</table>
</div>

<%= fields.compareFileNavigator.here() %>

<%= fields.compareOriginFile.here() %>

<%= methods.processMerge.here()%>