
<div style="margin-top:5px; float:right;">
    <a id="wBtn" href="#" onClick="<%=methods.importFile.caller()%>"<span style="color:#000; margin-right:0px">업로드</span></a>
</div>

<%= fields.compareFileNavigator.here() %>

<%= fields.compareImportFile.here() %>
