<% 
	if(value) {
		var processName = value.fileName;
%>
	<div id="openmind_btn">

	<%	
		if(processName != null) {
	%>
		 <span><b><%= processName %></b></span>
	<%	
		}
	%> 	
	</div>
<%
}
%>

<%= fields.processViewer.here() %>
