<% 
	if(value) {
%>
	<div id="openmind_btn" style="line-height:21px;">
		 <span><b>
		 <%
		  if( value.fileName ){
		 %>
		      <%= value.fileName %>
		 <%
		 }else{
		 %>
		      &nbsp; 
		 <%
		 }
		 %>     
		  </b></span> 	
		  <%
		      if( value.editorId == 'source' ){
		  %>
		          <div style="float:right; text-align:center ; vertical-align:middle;">
                     <a id="wBtn" href="#" onClick="<%= methods.processMerge.caller()%>"><span>파일비교</span></a>
                     <a id="wBtn" href="#" onClick="<%= methods.save.caller()%>"><span>저장</span></a>
                </div>
		  <%
		      }
		  %>
	</div>
<%
}
%>

<%= fields.processViewer.here() %>
