<div id="openmind_btn">
	<table>
		<tr>
			<td width="15"><img src="images/waveStyle/navi_icon.png"></td>
			<td ><b> Explorer : </b></td>
			<td><%=fields.nodeSearch.here({when:'edit'})%></td>
		</tr>
	</table>
</div>

<%= fields.compareFileNavigator.here() %>

<%= fields.compareOriginFile.here() %>

<%= methods.processMerge.here()%>