<div id="openmind_btn">
	<table>
		<tr>
			<td width="15"><img src="images/waveStyle/navi_icon.png"></td>
			<td ><b> Explorer : </b></td>
			<td><%=fields.nodeSearch.here({when:'edit'})%></td>
		</tr>
	</table>
</div>

<div style="margin-top:5px; float:right;">
   		 <a id="wBtn" href="#" onClick="<%=methods.importFile.caller()%>"<span> UpLoad </span></a>
</div>


<%= fields.compareFileNavigator.here() %>

<%= fields.compareImportFile.here() %>
