<%
    if(value){
%>
        <div style="float:left;_display:inline-block;width:49%; height:700px; margin-left:5px; margin-right:2px; border : 1px;">
        		 
              	 <%= fields.compareOriginFilePanel.here() %>
        </div>
      
      	<div style="float:left;_display:inline-block;width:49%; height:700px; margin-left:2px; margin-right:5px; border : 1px;">
           		 <%= fields.compareImportFilePanel.here() %>
       	</div>
<%
    }
%>
