<%
    if(value){
%>
        <div style="float:left;_display:inline-block;width:48%; height:700px; margin-left:20px; border : 1px;">
        		 
              	 <%= fields.compareOriginFilePanel.here() %>
        </div>
      
      	<div style="float:left;_display:inline-block;width:48%; height:700px; margin-right:20px; border : 1px;">
           		 <%= fields.compareImportFilePanel.here() %>
       	</div>
<%
    }
%>
