<%
    if(value){
%>

        <%= fields.compareNavigator.here() %>
        <div style="float:left;_display:inline-block;width:49%; height:500px; margin-left:5px; margin-right:2px; border : 1px;">
              	 <%= fields.compareOriginFilePanel.here() %>
        </div>
      
      	<div style="float:left;_display:inline-block;width:49%; height:500px; margin-left:2px; margin-right:5px; border : 1px;">
           		 <%= fields.compareImportFilePanel.here() %>
       	</div>
       	<div style="position: relative; bottom: 3px; float:left;_display:inline-block;width:100%; height:50px; border : 1px;">
       	    파랑 : 추가 , 빨강 : 제거 , 녹색 : 수정</br>
       	    (나중에 이미지로 교체)
       	</div>
<%
    }
%>
