<%= fields.searchEmpolyeePanel.here() %>
<div>
	<ul style="float:left; padding:20px 0 0 5px;">
		<li style="margin-bottom:3px; float:right"><a id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').checkList()"><span>추가</span></a></li>
	</ul>
</div>