<%
	if(value){

		if(value.invitation && value.id != 'contacts_local'){
			%><%=fields.invitation.here()%><%
		}else{
%>
		<%=fields.contacts.here()%>
	
			<% if(!value.selectedMore) { %>
				<span class="west_more_btn" style="top:-20px;"><a onClick="<%=methods.moreView.caller()%>" href="#" style="display: inline-block"><%=mw3.localize('$More')%></a></span>
			<% } %>
<%
		}
	}
%>	