<%
    if(value){
%>
       <div class="toolbar">
	        <ul>
	            <li onclick="" ><span>프로세스 맵 보기</span></li>
	            <li onClick="" ><span>프로세스 업로드</span></li>
	        </ul>
 	  </div> 
<%
    }
%>