<%
    if(value){
%>
       <div class="toolbar">
	        <ul>
	            <span style="float:left;"><b>타이틀</b></span>
	            <li onClick=""  style="float:right;"><span>프로세스 업로드</span></li>
	            <li onclick=""  style="float:right;"><span>프로세스 맵 보기</span></li>
	        </ul>
 	  </div> 
<%
    }
%>