
<%
    if(value){
    	if(value.alias != null ){
%>	
              <%= fields.processNameView.here() %>
        <div style="float:left;_display:inline-block;width:68%; height:500px; margin-right:10px">
            <div style="float:left;width:100%; height:50px; margin-bottom:10px;">
				 <%= fields.processNavigatorPanel.here() %>
            </div>
            <div style="float:left;width:100%;height:450px;">
                <%= fields.processViewPanel.here() %>
            </div>
        </div>
        <div style="float:left; _display:inline-block;width:30%; height:500px; ">
            <%= fields.processAttributePanel.here() %>
        </div>
<%	}
    }
%>

