<div style="_display:inline-block;width:100%; height:100%;">
    <div id="canvas_<%=objectId%>" style="height:100%; width:100%; cursor: default; overflow:auto;  background:#F1FCF1; "></div>
        <%= fields.processDesignerContainer.here() %>
</div>