<%
    if( value ){
        var list = value.historyList;
        
        for( var i = 0; i < list.length; i++){
%>
		<a onClick="mw3.getFaceHelper(<%=objectId%>).clickNavigator('<%= i %>')" href="#">
             <%= list[i].defName %> ==>>> 
        </a>
            
<%
        }
    }
%>
