<%
    if(value){
%>
        <div style="float:left;_display:inline-block;width:48%; height:700; margin-left:20px">
        		 
              	 <%= fields.mergeOriginProcessPanel.here() %>
        </div>
      
      	<div style="float:left;_display:inline-block;width:48%; height:700; margin-right:20px">
           		 <%= fields.mergeImportProcessPanel.here() %>
       	</div>
<%
    }
%>
