<script>
	$(function() {
		$( "#<%=objectId%>_datepicker" ).datepicker();
	});
	
</script>
<%  
 	
 	if(mw3.when == mw3.WHEN_EDIT || mw3.when == mw3.WHEN_NEW) { 
 %>

<div class="demo">
<input type="text" id="<%=objectId%>_datepicker" />
</div>
		
<%	
		
 	} else {
%>
	<%=value.here()%>
<%
 	}
%>
