<%
	if(value){
%>
		<%=methods.goSNS.here()%>
		<%=methods.goIDE.here()%>
		<%=methods.goAppStore.here()%>

<!--		
		<div class="time_line _noti_list myapp_panel">
			<ul class="process_map2" style="padding:0px;">
				<%
				%>
			</ul>
		</div>
-->

<%
	}
%>