<%
	if(value){
%>
	<div class="depth1"><span onClick="<%=methods.select.caller()%>"><%=mw3.localize("$Contact")%></span></div>
<%
		if(value.selected){
%>
	<div style="position:relative"><%=fields.contactPanel.here()%></div>
<%
		}
	}
%>
