<%
	if(value){
%>	
		<div class="depth1"> <%=mw3.localize("$navigation.dept")%> <a href="javascript:<%=methods.addDept.caller()%>">[New]</a></div>
		
		<div class="depth2">		
			<%=fields.deptList.here()%>
		</div>	
<%
	}
%>