<div onClick="<%=methods.popupFeedback.caller() %>" style=" position:absolute;z-index:9999; top:50%; right:0px; width:15px; height:105px; margin-top:-53px;  cursor:pointer;">
	<img src="images/waveStyle/feedback_btn.png" />
</div>

