<Table>
	<tr>
		<td>
<%=fields.followerSelectTab.here()%>
		</td>
	<tr>
	<tr>
		<td>
<a id="wBtn" href="#" onClick="<%= methods.addFollowers.caller() %>" style="position:absolute; z-index:2000;"><span style="color:#000; margin-right:0px"><%=mw3.localize("$Save")%></span></a>
<a id="wBtn" href="#" onClick="" style="z-index:2000;"><span style="color:#000; margin-right:0px"><%=mw3.localize("$Cancle")%></span></a>
		</td>
	<tr>
</table>
