<div style="padding:10px;">
<textarea id="instanceName_<%=objectId%>" row="1" style="font-weight:700; font-size:24px; width:100%;line-height:28px;display:block; border:1px solid transparent;word-wrap:break-word;resize:none; overflow:hidden; -webkit-border-radius:3px;margin-top: 0px; border:0px; outline:none; margin-bottom: 0px;"><%=value.instanceName%></textarea>
</div>