<% if(value!=null){ %>
	<span onClick="<%=methods.schedule.caller()%>"><img src="images/waveStyle/i_gantt.png" /></span>
	<span onClick="<%=methods.remove.caller()%>"><img src="images/waveStyle/i_delete.png" /></span>
	<span onClick="<%=methods.complete.caller()%>"><img src="images/waveStyle/i_complete.png" /></span>
<% }%>
