
<div class="view_box3 rolemapping" style="background:<%=value.mappedUser.userId ? "#7AD1FF":"#E8E8E8"%>; padding:8px; margin-bottom:20px;">
<center>
<b><%=value.roleName%></b>
<%=value.mappedUser.userId ? "" : "<font color=gray size=-3><br>(" + mw3.localize("$NotSet") + ")<br><br></font>"%>
<%=fields.mappedUser.here()%>
</div>