<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=mw3.localize("$navigation.role")%></span></div>

<%
		if(value.selected){
%>
	<div class="depth2">		
		<div><%=fields.roleList.here()%></div>
		<ul class="fist_menu" style="margin:0 0 0 5px; position:relative; top:-5px;">
			<li>
				<a href="#" onClick="<%=methods.addRole.caller()%>"><span class="icon-plus"></span><b>새역할 만들기</b></a>
				<div class="clear"></div>
			</li>
		</ul>

	</div>
	
<%
		}
	}
%>