<%
	if(value){
%>	
		<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=mw3.localize("$navigation.role")%></span></div>

<%
		if(value.selected){
%>
	<div class="depth2">		
		<div><%=fields.roleList.here()%></div>
		<div>
			<a id="wBtn" href="#" onClick="<%=methods.addRole.caller()%>" style="margin-left: 12px;"><span class="icon-plus"></span></a>
			<div class="clear"></div>
		</div>
	</div>
	
<%
		}
	}
%>