<%if(value.taskId!=null){%>

<div style="position:absolute; left:<%=value.overlayCommentOption.x%>px; top:<%=value.overlayCommentOption.y%>px">
		<b><%=value.writer.name%></b> <%=value.title%>
</div>

<%}%>