<%
for(i=0; i<value.pageCount; i++){
%>
<tr>
	<td> <img width="100%" src="images/pdf/<%=value.taskId%>.pdf_<%=i%>.jpg"/></td>
</tr>
<tr>
	<td align="center" style="padding:5px 0 20px 0; font-weight:bold">< Page <%=i+1%> ></td>
</tr>
<%}%>