<%
	if(value){
		if(value.processMapList){
%>
<div class="view_box" id="hiddenReply" style="display: block; ">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">
		<p class="title" style="font-size:14px; font-weight:bolder;  position:absolute; top:-20px; left:15px; background:#fff; padding:0 10px;">Process List</p>
	
		<ul class="process_map2">		
						
<%
			for (var i=0; i<value.processMapList.length; i++){
				if(typeof options == 'undefined') 
					options = objectMetadata;
			
				options['index'] = i;
				options['htmlTag'] =  'li';
%>
						<%=mw3.locateObject(value.processMapList[i], value.processMapList[i].__className, null, options)%>	
<%
				mw3.addBeanProperty(value.__objectId, '.processMapList[' + i + ']');
			}
%>
		</ul>
		
		<div id="btnline" style="padding-top:8px;">
			<ul>
				<li><a id="wBtn" href="javascript:<%=methods.append.caller()%>"><span>add</span></a></li>
			</ul>
		</div>
		<div class="clear"></div>		
	</div>

	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>


<%
		}
	}
%>	