<%if(value){%>
<div style="position:relative;">
	<div id="canvasForLoopLines" style="position:absolute;left:0px;top:0px;z-index: 1"></div>
	<div align="center" id="divFlowchartArea"><%=value.chartHTML%></div>
	<div id="divFlowchartSvgArea" style="position:absolute;left:0px;top:0px;z-index: 1"></div>
</div>
<%}%>