<%
	if(value){
%>
	<div class="logo"><img src="images/waveStyle/logo.gif"></div>
	
	<%=fields.windowPanel.here()%>

	<%=fields.notificationBadge.here()%>
	
	<%=fields.tray.here()%>
		
    <div class="info">
    
        <%if(mw3.when!='__design-depth2'){//TODO: later, rather use 'where' than 'when'.%>
        	<%=fields.session.here({when:'view'})%>
        <%}else{%>
        	session here.
        <%}%>	
		<font face="Eurostile" color="#aaaabb">PaaS for Business Expert (Chrome Optimized)</font>
	</div>	
<%
	}
%>