<%
    if( value ){
%>
        <table  border="0" cellspacing="0" cellpadding="0" style="width:100%; border:none;">
            <tr>
                <td width="20" style="border:none; padding:12px 0 0 0"><img src="images/waveStyle/re.gif" /> </td>
                <td width="40" style="border:none; padding:5px 0 0 0"><%=fields.writer.here({when:'followers'})%></td>
                <td style="border:none;padding:8px 0 0 0"> <%=value.title%></td>
                <td width="40" style="border:none;padding:5px 0 0 0">
                <%
                    var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
                    var itIsMe = (session && session.user.userId == value.endpoint);
                    if(itIsMe){
                %>
                    <img src="images/waveStyle/delete.png" onclick="<%=methods.remove.caller()%>" style="cursor:pointer;"/>
                <%
                    }
                %>
                </td>
            </tr>
        </table>
<%
    }
%>

