<div id="" style="float:left; margin-left:20px;padding-top:17px;">	
	<a class="haveTodo" href="#" onClick="<%=methods.showList.caller()%>">
		<img src="images/waveStyle/nav_my_to_do.png" height=18>
	</a>	
</div>

<% 
	if(value.newItemCount>0){
%>
		<div class="showTodoCount" id=""style="float:left;padding-top:17px;">
			<a class="badgeRed" href="#" onClick="<%=methods.showList.caller()%>"><span><%=value.newItemCount%></span></a>
		</div>
		
<%
	}
%>