<div id="sm01" style="margin-top:12px; padding:0px;  float:left; width:160px; position:relative;" >
    <div class="boxtopleft"><span class="boxtopright">Chat</span></div>
    <div class="boxmiddleright">
        <div class="boxmiddleleft">
        	<div class='togglebtnx' onclick=''></div>
            <div class="togglebtnmax" onclick="<%=methods.maximize.caller() %>" style="right:30px"></div>
            <div id="slidedown" class="slidedown" onclick=""style="right:45px"></div
            <div id="slideup" class="slideup" onclick=""style="right:45px"></div>
            <div id="con01" class="topcontentcontainer">
            </div>
        </div>
    </div>
    <div class="miniboxbottomleft"><span class="miniboxbottomright"></span></div>
</div>