<%
	if(value != null && typeof value != 'undefined'){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("Favorite")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<%=fields.processMapList.here()%>
	</div>
<%}else{%>
<%}%>

<%
	}
%>