<div style="padding:5px;">
	<font size=10><div  class="ProcessNameView">
	<%= value.fileId%>	
<%
		if(value.favoriteAdded == true){
%>
	<div class="favoriteAdded"><img src="images/checkbox_on.png" style="width: 16px; height: 16px;vertical-align: middle;"/></div>
<%
	}else{
%>
	<div class="favoriteAdded"><img src="images/checkbox_off.png" style="width: 16px; height: 16px;vertical-align: middle;"/></div>
<% } %>
</div></font>