<div class="fb_property_tit">Property</div>
<label class="fb_box_desc" id=""><%=mw3.localize('$form.name')%></label>
<div><%=fields.name.here()%></div>
<div class="fb_property_apply">
	<span class="fb_property_apply_tit">
	<a id="wBtn" href="#" onclick="<%=methods.apply.caller()%>"><span><img src="images/waveStyle/apply.png" style="margin-right:3px;"/>apply</span></a>
	</span>
</div>