<%
	if(value){
		for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){
			var fd = objectMetadata.fieldDescriptors[i];
				
			if(fd.name == 'metaworksContext') continue;							
			if(mw3.isHidden(fields[fd.name])) continue;
%>			
		<label class="fb_box_desc" id=""><%=mw3.localize(fd.displayName)%></label>
		<%=fields[fd.name] ? fields[fd.name].here() : "XXX"%>
<%				
		}
%>
		<div class="fb_property_apply">
			<span class="fb_property_apply_tit"><a onclick="<%=methods.apply.caller()%>"><img src="images/waveStyle/apply.png" />apply</a></span>
		</div>		
<%
	}
%>