<ul>
	<li><a href="#" onClick="<%=methods.goSns.caller()%>" title="Go SNS"><img src="images/waveStyle/app_social.png" /></a></li>
	<li><a href="#" onClick="" title="Go Process"><img style="opacity: 50; -moz-opacity: 50; -khtml-opacity: 50; filter:alpha(opacity=50);" src="images/waveStyle/app_process.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goMarketplace.caller()%>" title="Go Market"><img src="images/waveStyle/app_market.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goSelfServicePortal.caller()%>" title="Go Self Service Portal"><img src="images/waveStyle/app_selfService.png" /></a></li>
	<li><a href="#" onClick="<%=methods.goIDE.caller()%>" title="Go IDE"><img src="images/waveStyle/app_ide.png" /></a></li>
</ul>