<%
	if(value){
%>
	<div id="scheduleCalendar_<%=objectId%>"></div>
	
	<!-- 글 개시 후 실시간 refresh 되므로 버튼 hold -->
	<!--
	<div style="margin-top:15px;">
		<a id="wBtn" href="#"  onclick="mw3.getFaceHelper('<%=objectId%>').resize();" style="float:right"><span>refresh</span></a>
	</div>
	-->
<%
	}
%>