 <div id="navigator">  
<%
    if(value){
%>
   
     <div class="depth1" onClick="<%=methods.select.caller()%>"><span><%=mw3.localize("$navigation.role")%></span></div>
<%
        if(value.selected){
%>
    <div class="depth2">        
        <div class="fist_menu"><%=fields.organizationRoleList.here()%></div>
    </div>
    
<%
        }
    }
%>
</div>