<a id="wBtn" href="#" onClick="<%=methods.loadUnformed.caller()%>"><span>미분류문서</span></a>
	<div class="clear"></div>
<%
	if(value){
		if(value.idocumentNode){
%>
		
		<ul class="fist_menu">
<%
		for (var i=0; i<value.idocumentNode.length; i++){
			if(typeof options == 'undefined') 
				options = objectMetadata;		
				options['index'] = i;
				options['htmlTag'] =  'li';
%>
	<%=mw3.locateObject(value.idocumentNode[i], value.idocumentNode[i].__className, null, options)%>	
<%
			mw3.addBeanProperty(value.__objectId, '.idocumentNode[' + i + ']');
		}
%>
		</ul>
		
<%
		}
	}
%>	


