<%
	if(value != null && typeof value != 'undefined'){
%>


<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("$Strategic")%></div>
<%if(value.selected){%>
<%=fields.strategyMap.here()%>
<%}%>

<%
	}
%>
