<%if (value!=null){%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<div id="moreListBtn" onclick="<%=methods.more.caller()%>">more + </div>


<%}

}%>