<div class="form_table2"> 
    <table border="1" cellspacing="0">
        <tr>
            <th>key</th>
            <td><%=fields.key.here()%></td>
        </tr>
        <tr>
            <th>value</th>
            <td><%=fields.value.here()%></td>
        </tr>
        <tr>
            <th>type</th>
            <td><%=fields.type.here()%></td>
        </tr>
        <tr>
            <td colspan="2">
                <a id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').saveProperty()">
                    <span>프로퍼티 저장</span>
                </a>
            </td>
        </tr>
    </table>
</div>