<%
	if(value){
		var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
%>

		 	<div class="logo"><img src="images/waveStyle/logo.gif"></div>

		 	<!--div style="float:left; margin-top:5px;"><%=fields.loginUser.here({when: 'self_small'})%></div-->
			
		    <div class="info" >
		    
		        <%=fields.session.here({when:'view'})%>
			</div>	
<%
		
	}
%>


