<%
	if(value!=null){
	
%>

<div id="container" class="ui-layout-container">
	<div class="ui-layout-north">
        <div id="smline">
            <div class="logo"><img src="/mw3/metaworks/faces/org/metaworks/example/ide/logo.gif"> </div>
            
            <div id="search_right_outer"><div id="search_line"></div><div style="clear:both"></div><div id="clear_search" onclick="removeSearchItems()"></div></div>
            <div id="search_right_outer2"><div id="ping_line"></div><div style="clear:both"></div><div id="clear_search" onclick="removePingItems()"></div></div>           

                   
            <div class="info"> 	 </div>
            
        </div>
    </div>
    
    <div class="ui-layout-west ui-layout-pane ui-layout-pane-west ui-layout-container" style="position: absolute; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; right: auto; z-index: 2; left: 0px; width: 195px; visibility: visible; display: block; overflow-x: hidden; overflow-y: hidden; top: 52px; bottom: 0px; height: auto; ">
	  		<%=fields.erdEditor.here()%>
	</div>
	
    
	
	<div class="ui-layout-center ui-layout-pane ui-layout-pane-center ui-layout-container" style="position: absolute; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; z-index: 1; visibility: visible; display: block; overflow-x: hidden; overflow-y: hidden; top: 52px; bottom: 0px; left: 10px; right: 0px; width: auto;">
        <div class="middle-west ui-layout-pane ui-layout-pane-west" style="padding-bottom: 102px; position: absolute; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; right: auto; z-index: 1; left: 0px; visibility: visible; display: block; width: 793px; top: 0px; bottom: 0px; height: 500px; ">
	  		<%=fields.chartEditor.here()%>
  		</div>
 
		<div class="middle-center ui-layout-pane ui-layout-pane-center" style="position: absolute; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; z-index: 1; visibility: visible; display: block; top: 0px; bottom: 0px; left: 800px; right: 0px; width: auto; height: auto; padding-bottom: 36px; ">
 			 <%=fields.activity.here({when: 'edit'})%>
		</div>
	</div>
<%
}else{
%>

LOADING...

<%}%>