<%
	var ejsPath = 'dwr/metaworks/' + objectTypeName.split('.').join('/') + 'Preview.ejs';
%>

<label class="fb_desc" id=""><%=fields.displayName.here()%></label>

<div>
	<%=include(ejsPath)%>
</div>
