<div class="fb_property_tit">Property</div>
<label class="fb_box_desc" id=""><%=mw3.localize('$form.name')%></label>
<div><%=fields.name.here()%></div>
<div class="fb_property_tit"><span style="float:right;"><a onclick="<%=methods.apply.caller()%>"><img src="images/waveStyle/apply.png" />apply</a></span></div>