<span id="field1">
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">First option</label>
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">Second option</label>
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">Third option</label>
</span>