<div class="fb_form_box current">
	<div class="hover_div"><span><img src="images/waveStyle/copy.png" /><img src="images/waveStyle/delete.png" /></span></div>
	<label class="fb_desc" id=""><%=fields.displayName.here()%></label>
	<span id="field1">
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">First option</label>
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">Second option</label>
	<input class="radio" name="radiogroup" type="radio">
	<label class="choice">Third option</label>
</span> </div>