<div class="fb_form_box" onClick="<%=methods.modify.caller()%>">
	<label class="fb_desc" id=""><%=fields.displayName.here()%></label>
	<div>
		<input class="text medium" id="field0" type="text" readonly="readonly" value="">
	</div>
</div>