<%
	if(value != null){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>"><%=mw3.localize("$App")%></div>

	<%if(value.selected){%>
		<div class="depth2">
			<ul class="fist_menu">
				<li><span onClick="<%=methods.openApp.caller() %>"> <%=fields.appList.here() %> </span></li>
			</ul>
		</div>
	<%}%>

<%
	}
%>