<%
	if(value){
%>
<%	
		if(value.secuopt=='1'){
%>	
 			
 				<li><img class="navi_icon" src="images/waveStyle/nav_topic.png"><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a><span style="background:url(images/waveStyle/i_secuopt.png) no-repeat 5px -2px;">&nbsp;</span></li>
 				
	 			
 			
<%	
		}else{
%>	 
 				<li><img class="navi_icon" src="images/waveStyle/nav_topic.png"><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a></li>
 
 <%
 		}
	}
%>