<%
	if(value){
%>
<%	
		if(value.secuopt=='1'){
%>	
 			<li>
	 			<span style="background:url(images/waveStyle/i_topic.png) no-repeat 5px 0px;"><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a></span>
	 			<span style="background:url(images/waveStyle/i_secuopt.png) no-repeat 5px -2px;">&nbsp;</span>
 			</li>
<%	
		}else{
%>	 
			<li><span style="background:url(images/waveStyle/i_topic.png) no-repeat 5px 0px; "><a onClick="<%=methods.loadTopic.caller()%>" href="#"><%=value.name%></a></span></li>
 
 <%
 		}
	}
%>