<%
	if(value){
%>
	<%=fields.locale.here()%>
	<%=fields.pageNavigator.here()%>
	
	<div id="container" class="ui-layout-container" style="overflow: hidden; ">
		<%=fields.layout.here()%>
	</div>

	
<%
	}
%>