<%
	if(value){
%>

<br><br>
<table><tr><td width=20></td><td><%=fields.path.here()%><td></tr></table>
<br><br>

	<%=fields.wfNode.here()%>
<%
		if(mw3.when != 'read'){
%>		
	<span style="padding-left:40px">
		<%=methods.newNode.here()%>
	</span>	
	
<%
		}
	}
%>	