<%
	if(value){
%>

<img src="images/waveStyle/page_flip.png" "="" border="0" onclick="" style="width: 42px; height: 42px; " usemap="#Map">



<map name="Map" id="Map">
		  <area shape="rect" coords="67,10,188,46" onclick="<%=methods.goProcess.caller()%>">
		  <area shape="rect" coords="100,48,216,93" onclick="<%=methods.goKnowledge.caller()%>">
		  <area shape="rect" coords="143,95,269,132"  onclick="<%=methods.goIDE.caller()%>">
		  <area shape="rect" coords="191,137,299,176"  onclick="<%=methods.goIDE.caller()%>">
</map>
	
	
<div class="msg_block"></div>	

<%
	}
%>	