@charset "utf-8";

body {
	background: url(../../../images/waveStyle/bgTop.gif) repeat-x #EAECEE !important;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial, 돋움, Dotum, '돋움', Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.ssesionLine {
	float:left;
	line-height:37px;
	height:37px;
	cursor:pointer;
	padding:0 2px
}
.top_iconmenu { margin-right:0px; padding-top:3px;}
.top_iconmenu span {
	font-size:15px;
	margin-right:15px;
	color:#9C58BB;
	cursor:pointer;
}
.top_iconmenu span:hover { color:#65777E }

.top_panel_pic{float:left;margin-top:6px; margin-left:8px;}
.top_panel_object{float:left;padding-top:17px;margin-left:15px;}
.top_panel_app{float:right;padding-top:17px;margin-left:15px;}

.boxtopleft {
	background: #060;
	width: 100%;
	height: 25px;
	background: url(../../../images/waveStyle/t01.png) no-repeat left top;
}
.boxtopleft_alert {
	background: #060;
	width: 100%;
	height: 25px;
	background: url(../../../images/waveStyle/t01_alert.png) no-repeat left top;
}
.boxtopright {
	color: #FFF;
	font-size: 11px;
	padding-top: 4px;
	margin-bottom: -8px;
	display: block;
	margin-left: 7px;
	width: 100%;
	height: 25px;
	background: url(../../../images/waveStyle/t02.png) no-repeat right top;
}
.boxtopright_alert {
	color: #FFF;
	font-size: 11px;
	padding-top: 8px;
	margin-bottom: -8px;
	display: block;
	margin-left: 7px;
	width: 100%;
	height: 25px;
	background: url(../../../images/waveStyle/t02_alert.png) no-repeat right top;
}
.boxtopleftTab {
	width: 100%;
	height: 25px;
	background: url(../../../images/ide/t01.png) no-repeat left top;
}
.boxtoprightTab {
	color: #FFF;
	font-size: 11px;
	padding-top: 4px;
	margin-bottom: -8px;
	display: block;
	margin-left: 7px;
	width: 100%;
	height: 25px;
	background: url(../../../images/ide/t02.png) no-repeat right top;
}
.boxtoprightTab .tabCurrent {
	display: block;
	background: url('../../../images/ide/tab_outl.png') left 0 no-repeat;
	float: left;
	margin-left: -4px;
	padding-left: 10px;
	text-decoration: none;
	height: 20px;
	cursor: pointer;
	overflow: hidden
}
.boxtoprightTab .tabCurrent span {
	display: block;
	float: left;
	background: url('../../../images/ide/tab_outR.png') right 0;
	line-height: 200%;
	padding-right: 23px;
	height: 20px;
	overflow: hidden
}
.boxtoprightTab .selected .tabCurrent { background: url('../../../images/ide/tCurrnetL.png') left 0 no-repeat !important; }
.boxtoprightTab .selected .tabCurrent span { background: url('../../../images/ide/tCurrnetR.png') right 0 !important; }
.boxmiddleright { /*overflow:hidden;*/
	height: 100%;
	width: 100%;
	background: url(../../../images/waveStyle/c02.png) right repeat-y;
}
.boxmiddleleft {
	float: left;
	background: url(../../../images/waveStyle/c01.png) left repeat-y;
	width: 100%;
	height: 100%;
}
.boxbottomleft {
	width: 100%;
	height: 10px;
	background: url(../../../images/waveStyle/m01.png) no-repeat left bottom;
	clear: left;
}
.boxbottomright {
	display: block;
	margin-left: 8px;
	width: 100%;
	height: 10px;
	background: url(../../../images/waveStyle/m02.png) no-repeat right bottom
}
.boxbottomleft {
	width: 100%;
	height: 10px;
	background: url(../../../images/waveStyle/m01.png) no-repeat left bottom;
	clear: left;
}
*html .boxbottomright { margin-top: -8px; }
.miniboxbottomleft {
	width: 100%;
	height: 15px;
	background: url(../../../images/waveStyle/minim01.png) no-repeat left bottom;
	clear: left;
}
.miniboxbottomright {
	display: block;
	margin-left: 8px;
	width: 100%;
	height: 15px;
	background: url(../../../images/waveStyle/minim02.png) no-repeat right bottom;
}
*html .miniboxbottomleft {
	margin-top: -6px;
	background: url(../../../images/waveStyle/minim01.png) no-repeat left bottom;
}
*html .miniboxbottomright { background: url(../../../images/waveStyle/minim02.png) no-repeat right bottom; }
.worklistcontentcontainer,
.wihcontentcontainer,
.contactscontentcontainer {
	background: #fff;
	margin: 0 7px 0 3px;
	height: 100%;/* overflow:auto; */
}
.contentcontainer {
	background: #fff;
	margin:0 7px 0 3px;
	height: 100%;
	overflow:auto;
	position: relative;
}
.topcontentcontainer {
	background: #fff;
	margin: 0 7px 0 3px;
	height: 500px;
	overflow: auto;
	display: none;
	overflow: auto;
	position: absolute;
	border: 1px solid #ccc;
	border-top: 1px solid #5793D7;
}
.togglebtnmini {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btToggleMini.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 12px;
	cursor: pointer;
}
.windowclose {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/replyDelete.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 12px;
	cursor: pointer;
}
.top_window_btn_line { display:none; }
.togglebtncalendar {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btToggleCalendar.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 50px;
	cursor: pointer;
}
.togglebtnList {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btToggleList.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 50px;
	cursor: pointer;
}
.togglebtnx {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/chatx.png) no-repeat;
	position: absolute;
	top: 9px;
	right: 12px;
	cursor: pointer;
}
*html .togglebtnmini { right: 20px; }
.togglebtnexp {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btToggleBig.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 30px;
	cursor: pointer;
}
*html .togglebtnexp { right: 38px; }
.togglebtnmax {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btToggleBig.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 12px;
	cursor: pointer;
}
.toggleback {
	width: 74px;
	height: 24px;
	background: url(../../../images/waveStyle/btBack.png) no-repeat;
	position: absolute;
	top: 1px;
	right: 1px;
	cursor: pointer;
}
.toggleback span {
	color:#fff;
	font-weight:bold;
	margin:6px 0 5px 30px;
	display:block;
}
*html .togglebtnmax { right: 20px; }
.slidedown {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btSlideDown.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 45px;
	cursor: pointer;
	z-index: 9;
}
*html .slidedown { right: 38px; }
.slideup {
	width: 15px;
	height: 16px;
	background: url(../../../images/waveStyle/btSlideUp.png) no-repeat;
	position: absolute;
	top: 7px;
	right: 45px;
	cursor: pointer;
	z-index: 10;
	display: none;
}
*html .slideup { right: 38px; }
.ui-layout-resizer { background: #EAECEE; }
.ui-layout-resizer:hover { background: #EAECEE; }

#container { 
	position: absolute;
	top: 0px;	
	bottom: 5px;	
	left: 10px;
	right: 5px;
}


#contactsearchbox {
	display: block;
	clear: both;
	content: '';
	background: #C9E2FC;
	border-bottom: #999 1px solid;
	border-left: #E4F1FE 1px solid;
	margin: 0px;
	padding: 7px 5px 5px 15px;
}
#contactsearchbox .inputleft {
	float: left;
	position: relative;
	left: -9px;
	width: 9px;
	margin-right: -9px
}
#contactsearchbox .inputcenter {
	float: left;
	width: 100%;
}
#contactsearchbox .inputright {
	float: left;
	left: 22px;
	width: 22px;
	margin-left: -22px
}
#contactsearchbox ul li input {
	width: 100%;
	background: #ffffff;
	height: 21px;
	padding-top: 1px;
	border: none;
	border-top: 1px solid #8b9fbd;
	border-bottom: 1px solid #8b9fbd;
}
@-moz-document url-prefix() {
#contactsearchbox ul li input {
margin-top: 1px;
}
}
.newprocessbtn {
	float: left;
	background: url(../../../images/waveStyle/newProcess2.gif) no-repeat;
	color: #fff;
	height: 21px;
	text-align: center;
	font-weight: bolder;
	font-size: 11px;
	margin-right: 10px;
	cursor: pointer;
}
#startBtn {
	line-height: 21px;
	padding:0 30px 0 25px;
	margin-left:5px;
	background: url(../../../images/waveStyle/newProcess2.gif) 100% 0% no-repeat;
}
#searchbox {
	display: block;
	clear: both;
	content: '';
	background: #C9E2FC;
	border-bottom: #999 1px solid;
	border-left: #E4F1FE 1px solid;
	margin: 0px;
	padding: 0px;
}
#searchbox .searchboxline {
	height: 46px;
	padding: 0px 10px;
}
#searchbox .inputleft {
	float: left;
	position: relative;
	left: -9px;
	width: 9px;
	margin-right: -9px
}
#searchbox .inputcenter {
	float: left;
	width: 99%;
}
#searchbox .inputright {
	float: left;
	left: 22px;
	width: 22px;
	margin-left: -22px
}
#searchbox ul li input {
	width: 98%;
	background: #ffffff;
	height: 21px;
	padding-top: 1px;
	border: none;
	border-top: 1px solid #8b9fbd;
	border-bottom: 1px solid #8b9fbd;
}
*:first-child+html #searchbox ul li input { margin-top:-1px }
* html #searchbox ul li input { margin-top:-1px }
@-moz-document url-prefix() {
#searchbox ul li input {
margin-top: 1px;
}
}

.user { width: 100%; }
.user .user_picture {
	float: left;
	margin-right: 5px;
}
.user .user_detail {float: left; padding-left:10px; }
.user .user_compact {
	float: left;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
}
.user .user_focus {
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	background: #eef6f6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat: no-repeat;
	position:relative;
}
.contact_list{padding-top:7px; padding-left:13px;}
.contact_list .user_focus { margin-bottpm:4px; }
.contact_list li{float:left}

.user .user_focus .followers_name {
	position:absolute;
	bottom:0px;
	left:0px;
	padding:2px;
	background-color: #000;
	text-align:center;
	color:#fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter:alpha(opacity=50);
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overow: ellipsis;
	line-height:10px !important;
	font-size:10px;
	letter-spacing: -1px;
}
.rolemapping .user_focus{ float:none; width:33px; height:33px;}
/*
.badge {
	float: left;
	background: #409030;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #888;
	font-size: 11px;
	color: #fff;
	font-weight: bolder;
}
*/
.btnbadge {
	display: inline-block;
	padding: 5px 20px;
	margin-bottom: 0;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #FDFDFE;
	background-image: -moz-linear-gradient(top, #F8F8F8, #EEECEC);
	background-image: -ms-linear-gradient(top, #F8F8F8, #EEECEC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#EEECEC));
	background-image: -webkit-linear-gradient(top, #F8F8F8, #EEECEC);
	background-image: -o-linear-gradient(top, #F8F8F8, #EEECEC);
	background-image: linear-gradient(top, #F8F8F8, #EEECEC);
	background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F8F8F8', endColorstr='#EEECEC', GradientType=0);
	border-color: #FBFBFB #FBFBFB #D3D3D7;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid rgba(0, 0, 0, 0.15)!important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.03);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
	font-weight: normal!important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	margin-top:8px;
}
.user .pic {
	width: 33px;
	height: 33px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.user .small {
	width: 25px !important;
	height: 25px !important;
}


#navigator { padding-right:13px; }
#navigator .navigator_top_margin {height:15px;}
#navigator .depth2 { position:relative }
#navigator .depth2 .fist_menu { margin: 5px; }
.AddLocalContactPanel .fist_menu { margin:0px !important; }
.AddLocalContactPanel .fist_menu .ui-droppable a {
	border-bottom: 1px solid #E7EAEF;
	height: 30px;
	cursor: pointer;
	background: #FBFBFD;
	padding: 5px;
	width: 100%;
	display: block;
}
#navigator .depth2 a { /*padding:0 5px;*/
	display:block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overow: ellipsis;
	color:#7a8794;
}
.selected_navi2 {
	background-color:#C9E2FC;
	border:1px solid #A8D1FB;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#navigator .depth2 .fist_menu li {
	padding:1px 1px 2px 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#navigator .depth2 .fist_menu li li li { padding:0; }
#navigator .depth2 .fist_menu li li li li { padding:0; }
#navigator .depth2 .fist_menu li li li li li { padding:0; }
#navigator .depth2 .fist_menu li li li li li li { padding:0; }
#navigator .depth2 .fist_menu li.selected_navi {
	background:#5896db;
	border:1px solid #5896db
}
#navigator .depth2 .fist_menu li.selected_navi a { color:#fff !important; }
#navigator .depth2 .fist_menu li span {
	display: inline-block;
	padding:0 5px 0 10px;
	font-size: 14px;
	position: relative;
	top: 2px
}
#navigator .depth2 .fist_menu .navi_icon {
	float:left;
	padding-left: 10px;
	position:relative;
	top:2px;
	margin-right:10px;
	width:13px;
	height:13px;
}
#navigator .depth1 { /*height: 25px;
    line-height: 25px;
    padding-left: 20px;
     border-top: 1px solid #ccc; 
    background: url(../../images/waveStyle/navi_icon.png) 3px 5px no-repeat;*/
	cursor: pointer;
	font-weight:bold;
	margin-top:9px;
	border-top: 1px solid #c6cbd0;
	padding-top: 7px;
	position:relative;
}
#navigator .depth1 .depth1td_on {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	border-top: 1px solid #E5E5E5;
	color: #7F7F7F;
	background: url(../../images/waveStyle/navi_icon.png) 7px 7px no-repeat;
}
#navigator .depth1 .depth1td_off {
	height: 25px;
	line-height: 25px;
	padding-left: 20px;
	border-top: 1px solid #E5E5E5;
	color: #7F7F7F;
	background: url(../../images/waveStyle/navi_icon_down.png) 7px 7px no-repeat;
}

.instance_complated{margin:0 0 0 5px;border-left:1px solid #ccc;border-bottom:none;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;background:#f2f3f4}
.instance_normal{margin:0 0 0 5px;border-left:1px solid #ccc;border-bottom:none;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;background:#fff}
.instance_li{margin:0 0 0 5px;border-left:1px solid #ccc;background:#fff}
.instance_select{margin:0 0 0 0 !important;border-left:1px solid #ccc;border-bottom:2px solid #A1A1A1;border-top-left-radius:7px;border-bottom-left-radius:7px;-moz-border-top-left-radius:7px;-moz-border-bottom-left-radius:7px;-webkit-border-top-left-radius:7px;-webkit-border-bottom-left-radius:7px;background:#FFF0A5 url(../../../scripts/jquery/jquery-ui-189custom/development-bundle/themes/base/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% !important}


/* table */
.tbl_type_out,.tbl_type_out th,.tbl_type_out td{border:0}
.tbl_type_out{width:100%;border-bottom:1px solid #e5e5e5;font-size:11px;text-align:left;}
.tbl_type_out caption{display:none}
.tbl_type_out th{padding:2px 0 4px;border-top:2px solid #dcdcdc; border-bottom:1px solid #ccc; background-color:#f5f7f9;color:#666;font-size:12px;font-weight:bold; text-align:center;}



.tbl_type,.tbl_type th,.tbl_type td{border:0; text-align:left;}
.tbl_type{width:100%;font-size:11px;text-align:left;}
.tbl_type:hover{background:#EDF5FE}
.tbl_type caption{display:none}
.tbl_type th{padding:7px 0 4px;border-top:2px solid #dcdcdc;background-color:#f5f7f9;color:#666;font-size:12px;font-weight:bold;}
.tbl_type td{padding:0px;border-bottom:1px solid #e5e5e5;color:#4c4c4c}
.tbl_type .a td{padding:0px;border-top:none;color:#4c4c4c}


/* //table */

/* UI Object */
.lst_type{width:100%;padding:2px;padding-top:6px;border:none;list-style:none}
.lst_type li{margin-bottom:5px;font-size:12px;font-weight:normal;line-height:14px;vertical-align:top;padding-right:10px;}
.lst_type .type_ping{block;overflow:hidden;float:right;height:16px; width:16px; margin:0 3px 0 0;padding:0;background:url(../../../images/waveStyle/ping.png) no-repeat 0 0;vertical-align:top;font-style:normal}
.lst_type .type_mail{display:block;overflow:hidden;float:right;height:16px; width:16px;margin:0 3px 0 0;padding:0x;background:url(../../../images/waveStyle/mail.png) no-repeat 0 0;vertical-align:top;font-style:normal}
.lst_type .type_process{display:block;overflow:hidden;float:right;height:16px; width:16px;margin:0 3px 0 0;padding:0;background:url(../../../images/waveStyle/process.png) no-repeat 0 -3px;vertical-align:top;font-style:normal}
.lst_type .type_topic{display:block;overflow:hidden;float:right;height:16px; width:16px;margin:0 0 0 3px;padding:0;background:url(../../../images/waveStyle/nav_topic.png) no-repeat 0 0;vertical-align:top;font-style:normal}
.lst_type .instanceLock{display:block;overflow:hidden;float:right;height:16px; width:16px;margin:0 3px 0 0;padding:0;background:url(../../../images/waveStyle/lock.png) no-repeat 0 0;vertical-align:top;font-style:normal}
.lst_type .instanceUnLock{display:block;overflow:hidden;float:right;height:16px; /*width:10px;*/margin:3px 2px 0 0;padding:0;background:none;vertical-align:top;font-style:normal}
/*
.lst_type .type_ping em{display:block;float:left;height:17px;margin:-1px 0 0;padding:1px 5px 0 0;background:url(../../../images/waveStyle/bu_listhead_ping.gif) no-repeat 100% 1px;color:#fff;font-size:11px;font-weight:normal;vertical-align:top}
.lst_type .type_mail em{display:block;float:left;height:17px;margin:-1px 0 0;padding:1px 5px 0 0;background:url(../../../images/waveStyle/bu_listhead_mail.gif) no-repeat 100% 1px;color:#fff;font-size:11px;font-weight:normal;vertical-align:top}
.lst_type .type_process em{display:block;float:left;height:17px;margin:-1px 0 0;padding:1px 5px 0 0;background:url(../../../images/waveStyle/bu_listhead.gif) no-repeat 100% 1px;color:#fff;font-size:11px;font-weight:normal;vertical-align:top}
*/
.lst_type li a{color:#2d2c2d;text-decoration:none}
.lst_type li a:hover{text-decoration:underline}
/* //UI Object */

.tbl_type .first_td{width:40px;}
.tbl_type #newInst{width:10px;}
.tbl_type #newInst .innerNewInst{width:4px; height:35px; margin:3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background:#FED872;
    display:none;}
     
.tbl_type .last_td{width:110px; padding-right:10px;}
.worklistuser {}
.worklistuser dd{ margin:2px 0px 2px 3px; float:left; display:block;}
.worklistuser dd center{font-size:11px; letter-spacing:-0.1em;}
/* .instanceType{float:left;width:38px;margin-right:-40px} */
.instanceType{float:left;margin-top:2px}
/*.instanceTitle{margin-left:40px;position:relative;}*/
.instanceTitle{margin-left:2px;position:relative;}
*:first-child+html .instanceTitle{float:left}
* html .instanceTitle{float:left}

.instanceBtn_sns{display:none; position:absolute; right: 10px;top:10px; background:#fff; border:1px solid #1C94C4;-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; padding:2px;}
    
.instanceBtn{display:none;}

.saidGoodUsersLine td{
	border-top:none; padding-bottom:5px;  padding-left:71px; font-size:11px; color:#A7A7A7;
}
.re_saidGood em{ width:16px; height:16px; margin-right:2px; display:inline-block; background:url(../../images/waveStyle/re.gif) no-repeat 0 0;}

#moreListBtn{width:100%; font-size:18px; text-align:center; background:#EEF7FF; border-bottom:1px solid #95CDFF; color:#95CDFF; height:30px; line-height:30px; cursor:pointer;/* position:absolute; bottom:0px;*/}



.view_box3 {
    background: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid #e5e5e5;
    /*filter:alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75; opacity: 0.75;*/
    line-height: 1.4em;
    -webkit-box-shadow:0 3px 4px #ccc;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    box-shadow:0 3px 4px #ccc;
}

.view_box3 .innerBox {
    /*  position:absolute;width:100%;height:100%;
     background: #ffffff;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     filter:alpha(opacity=50); -khtml-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5;*/
}

.view_box3 .guide {
    position: relative;
    width: 100%
}
.view_box3 .tl {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: url('../../../images/waveStyle/bg_border_corner3.png') no-repeat;
    font-size: 0
}
.view_box3 .tr {
    display: block;
    position: absolute;
    top: -1px;
    left: -13px;
    width: 14px;
    height: 14px;
    margin-left: 100%;
    background: url('../../../images/waveStyle/bg_border_corner3.png') 100% 0 no-repeat;
    font-size: 0
}
.view_box3 .lb {
    display: block;
    position: absolute;
    top: -13px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: url('../../../images/waveStyle/bg_border_corner3.png') 0 100% no-repeat;
    font-size: 0
}
.view_box3 .rb {
    display: block;
    position: absolute;
    top: -13px;
    left: -13px;
    width: 14px;
    height: 14px;
    margin-left: 100%;
    background: url('../../../images/waveStyle/bg_border_corner3.png') 100% 100% no-repeat;
    font-size: 0
}
.view_box3 .cont {
    position: relative;
    padding: 0 0 0 10px;
    margin: 10px 0px;
}



.view_box4 {
    background: url('../../../images/waveStyle/bg_border_corner3_Top.gif') repeat-x #EDF3FE;
    margin-left: 10px;
    margin-right: 10px;
    border:1px solid #C5D9E8;
    /*filter:alpha(opacity=75); -khtml-opacity: 0.75; -moz-opacity: 0.75; opacity: 0.75;*/
    line-height: 1.4em;
    -webkit-box-shadow:0 3px 4px #ccc;
    -webkit-border-radius:14px;
    -moz-border-radius:14px;
    border-radius:14px;
    box-shadow:0 3px 4px #ccc;
}

.view_box4 .innerBox {
    /*  position:absolute;width:100%;height:100%;
     background: #ffffff;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
     filter:alpha(opacity=50); -khtml-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5;*/
}

.view_box4 .guide {
    position: relative;
    width: 100%
}
.view_box4 .tl {
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: url('../../../images/waveStyle/bg_border_corner2.png') no-repeat;
    font-size: 0
}
.view_box4 .tr {
    display: block;
    position: absolute;
    top: -1px;
    left: -13px;
    width: 14px;
    height: 14px;
    margin-left: 100%;
    background: url('../../images/waveStyle/bg_border_corner2.png') 100% 0 no-repeat;
    font-size: 0
}
.view_box4 .lb {
    display: block;
    position: absolute;
    top: -13px;
    left: -1px;
    width: 14px;
    height: 14px;
    background: url('../../../images/waveStyle/bg_border_corner2.png') 0 100% no-repeat;
    font-size: 0
}
.view_box4 .rb {
    display: block;
    position: absolute;
    top: -13px;
    left: -13px;
    width: 14px;
    height: 14px;
    margin-left: 100%;
    background: url('../../../images/waveStyle/bg_border_corner2.png') 100% 100% no-repeat;
    font-size: 0
}
.view_box4 .cont {
    position: relative;
    padding: 0 0 0 10px;
    margin: 10px 0px;
}


