<%
	if(value){
%>        
	<div class="top" style="height: 34px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">	              
        <div id="contactsearchbox">
			<%=fields.searchBox.here()%>
		</div>
	</div>
	
	<div id="" class="bottom" style="top: 34px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">		
		<%=fields.list.here()%>
		<%=fields.invitation.here()%>
	</div>
<%
	}
%>		