<%
	if(mw3.when == 'new' || mw3.when == 'edit'){
		if(value.name != null){
%>
	<span style="float:left; margin:3px 5px 0 0">@<%=value.name%></span>
<%
		}
%>
	<span>
		<a id="wBtn" href="#" onclick="mw3.call(<%=objectId%>, 'openPicker')"><span>선택</span></a>
	</span>	
<%
	}
%>