<div id="wrap">
	<div class="login_top_codi"></div>
    <div class="index_top">
        <div class="logoline">
            <div class="width1200">
                <div class="index_logo"><img src="images/waveStyle/logo.png" /></div>
                <div class="index_menu">
                    <ul>
                        <li>Contact Us</li>
                        <li onClick="<%=methods.goLogin.caller()%>" style="cursor: pointer">Login</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="index_topmenu"></div>
        
        <div class="banner_img_div">
        	<!--
        	<div class="index_banner_r_btn">></div>
        	<div class="index_banner_l_btn"><</div>
        	-->
        	<div class="banner_img_div_disc_box"></div>
        	<div class="banner_img_div_disc">
        		<span class="bf">Process Codi is a Private Social Network for Your Company</span>
        		<span class="sf">Collaborate securely across departments, geographies, content and business applications.</span>
        		<div>
        			<%=fields.login.here()%>		
        		</div>
        	</div>
        	<div class="bn01 main_banner"><img src="images/waveStyle/testMain.jpg" width="100%" /></div>
        	<div class="bn02 main_banner" style="display:none"><img src="images/waveStyle/testMain2.jpg" width="100%" /></div>
        	<div class="bn03 main_banner" style="display:none"><img src="images/waveStyle/testMain3.jpg" width="100%" /></div>
        	<div style="position:relative; z-index:1"><img src="images/waveStyle/testMain_tran.png" width="100%" /></div>
        </div>
    </div>
    <div class="index_middle">
    	<div class="middle_top_hr"></div>
        <div class="index_content">
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>1. 소셜 워크플로우(UC)</h1>
                        그룹 내 친구를 추가하여 지식을 공유 할 수 있고 소셜 네트워크의 친구들과의 커뮤니케이션도 업무에 활용해 보세요. 소셜네트워크의 친구와 채팅을 통해 혹은 나의 업무를 담벼락에 공유하여 소셜 네트워크 친구들의 의견을 업무에 적극 수용 할 수 있습니다.
멀리 떨어진 친구와는 화상회의를 통하여 소통이 가능합니다. 기업 내 혹은 외부의 넓은 네트워크망을 이용하여 창의적인 의사소통으로 향상된 업무능력을 선보이시길 바랍니다. </div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line2">
                <div class="width1200 row">
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="col7">
                        <h1>2. 파일(문서)관리</h1>
                      코디는 컨텐츠의 한 영역으로 문서를 관리합니다.
이미지, 워드, 파워포인트, 엑셀 등 문서의 미리보기를 지원하여 다운로드 없이 플랫폼 내에서 문서의 내용을 손쉽게 확인 할 수 있습니다. 문서의 미리보기 영역에 직접 의견을 공유할 수 있습니다. 원하는 포지션에 “코멘트 달기”를 통해서 의견을 공유해 보세요.
또한 문서의 고급 관리로 문서를 버전별로 업로드 가능합니다. 이전에 업로드한 문서의 손실 없이 미리보기 및 다운로드 할 수 있습니다. 또한 문서 내 키워드 검색이 가능합니다. 이제 코디에서 문서에 실시간으로 의견을 공유하고 표시된 영역의 화면을 캡쳐하여 원활한 소통의 도구로 활용해보세요. </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>3. 개인직무 및 프로젝트 관리</h1>
                        담벼락에 달력을 통해 자신의 업무를 효과적으로 관리 할 수 있습니다. 캘린더의 업무를 등록하고, 알림 예약을 통해 지정한 시간에 업무 알림을 받을 수 있습니다.
자신이 진행 하여야 할 업무는 “내가 해야할일(TODO List)”에서 따로 확인 할 수 있으며, 간트차트를 통하여 프로젝트의 진행상태를 모니터링 할 수 있습니다.</div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line2">
                <div class="width1200 row">
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="col7">
                        <h1>4. 집단지성/메시업</h1>
                        팀간 혹은 그룹간 더 나아가서 기업간의 공동 작업 공간을 구성합니다. 지식맵을 통하여 집단 지성의 커뮤니티를 구성 할 수 있습니다. 지식맵은 wiki의 컨텐츠, 슬라이드쉐어의 슬라이드, 유투브의 동영상, 구글의 이미지 등으로 외부의 컨텐츠의 활용이 가능합니다. 실시간으로 검색되는 컨텐츠를 이용하여 지식맵을 구성해 보세요.</div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>5. 프로세스 개선</h1>
                       코디는 그룹 내 사용하고 있는 혹은 사용하고자 하는 프로세스의 사용이 가능합니다. 휴가신청 및 일정관리, 연락처 관리부터 결제, 영업관리 등 그룹 내에서 등록한 프로세스의 실행이 즉각적으로 이루어지며, 플랫폼 내에서 업무의 진행 사항을 확인 할 수 있는 등 기존 BPM의 이점을 그대로 효용 가능합니다.</div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="index_bottom"></div>
</div>
