<div style="width:156px; height:80px; position:absolute; z-index:999; top:50%; left:50%; margin:-40px 0  0 -78px;-moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;"><img src="images/waveStyle/startloading.gif" /></div>