asdfasf
<label class="fb_box_desc" id="">Property</label>
<div class="">
	<input class="text medium" id="field0" type="text" readonly="readonly" value="0123456789">
</div>            

<span style="float:right; cursor: pointer; cursor: hand;"><a onclick="<%=methods.apply.caller()%>"><img src="images/waveStyle/apply.png" />apply</a></span>