<img class="navi_icon" src="images/waveStyle/i_project.png" /><a href="#" onClick="<%=methods.loadUnformed.caller()%>"><span><%=value.tenentId%>의 미분류문서</span></a>
	<div class="clear"></div>
<%
	if(value){
		if(value.documentNode){
%>
		
		<ul class="fist_menu">
<%
		for (var i=0; i<value.documentNode.length; i++){
			if(typeof options == 'undefined') 
				options = objectMetadata;		
				options['index'] = i;
				options['htmlTag'] =  'li';
%>
	<%=mw3.locateObject(value.documentNode[i], value.documentNode[i].__className, null, options)%>	
<%
			mw3.addBeanProperty(value.__objectId, '.documentNode[' + i + ']');
		}
%>
		</ul>
		
<%
		}
	}
%>	


