<div id="wrap">
    <div class="index_top">
        <div class="logoline">
            <div class="width1200">
                <div class="index_logo"><img src="images/waveStyle/logo.png" /></div>
                <div class="index_menu">
                    <ul>
                        <li>Contact Us</li>
                        <li>login</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="index_topmenu"></div>
        <img src="images/waveStyle/testMain.png" width="100%" style=" max-width:1400px"/> </div>
    <div class="index_middle">
		<%=fields.invitation.here()%>
		
        <div class="index_content">
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>1. 업무협업</h1>
                        팀간 혹은 그룹간 더 나아가서 기업간의 공동 작업 공간을 구성합니다. wiki, 슬라이드쉐어, 유투브, 구글 이미지 등으로 구성된 지식맵을 통한 지식공유가 가능하며, 각 업무에 대해 공개/비공개 관리가 가능하고 이해관계자를 추가하여 업무 관련자들과의 실시간 피드백이 가능합니다.
                        프로젝트 별 업무관리가 가능하며, 하나의 주제로 여러 업무 관리가 가능합니다. 업무 내용에 대한 통합검색이 가능하고, 자신이 해야 할 업무, 참여하고 있는 업무별 컨텐츠 관리가 가능합니다 </div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line2">
                <div class="width1200 row">
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="col7">
                        <h1>2. 문서관리</h1>
                        코디는 컨텐츠의 한 영역으로 문서를 관리합니다.
                        이미지, 워드, 파워포인트, 엑셀 등 문서의 미리보기를 지원하여 다운로드 없이 플랫폼 내에서 문서의 내용을 손쉽게 확인 할 수 있습니다. 문서의 미리보기를 통하여 컨텐츠에 직접 의견을 공유할 수 있습니다. 원하는 포지션에 "코멘트 달기"를 통해서 의견을 공유해 보세요.
                        또한 문서의 고급 관리로 문서를 버전별로 업로드 가능합니다. 이전에 업로드한 문서의 손실 없이 미리보기 및 다운로드 할 수 있습니다. 문서에 실시간으로 의견을 공유하고 표시된 영역의 화면을 캡쳐하여 원활한 소통의 도구로 활용해보세요. </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>3. 일정관리</h1>
                        코디의 캘린더를 통하여 업무 일정을 관리할 수 있습니다. 자신의 일정 및 타인의 일정을 일, 월, 주별 및 시간단위로 확인 및 관리 할 수 있습니다. 진행중인 업무, 완료된 업무, 진행하여야 할 업무, 지연된 업무 등 각 업무를 코디 캘린더로 손쉽게 관리해보세요 </div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line2">
                <div class="width1200 row">
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="col7">
                        <h1>4. 소셜네트워크</h1>
                        그룹 내 친구를 추가하여 지식을 공유 할 수 있고 소셜 네트워크의 친구들과의 커뮤니케이션도 업무에 활용해 보세요. 나의 업무를 담벼락에 공유하여 소셜 네트워크 친구들의 의견을 적극 수용 할 수 있습니다.
                        개인의 프로필을 통하여 사진, 자신의 직책, 연락처 등을 공유하고 다른 사람들과 하나의 네트워크를 구성하여 업무 협업공간을 구성해 보세요. 넓은 네트워크망의 다량의 리소스들을 통하여 향상된 업무능력을 선보이시길 바랍니다. </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line1">
                <div class="width1200 row">
                    <div class="col7">
                        <h1>5. 클라우드서비스</h1>
                        코디는 멀티테넌시 지원으로 클라우드 환경에 서비스 가능한 단일 어플리케이션입니다. 플렛폼이 동일한 인스턴스에서 여러 테넌트를 호스트 할 수 있습니다. 각 테넌트들은 데이터베이스로 분리되며 다른 테넌트의 침해없이 엄격히 격리됩니다.
클라우드 서비스가 확장되는 시점에 코디의 클라우드 서비스화는 기업의 환경에 발 빠르게 맞춰진 서비스로 볼 수 있습니다.
</div>
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="line2">
                <div class="width1200 row">
                    <div class="col3"><img src="images/waveStyle/index_con01.png" /></div>
                    <div class="col7">
                        <h1>6. 프로세스(BPM) 연동</h1>
                        코디는 그룹 내 사용하고 있는 혹은 사용하고자 하는 프로세스의 사용이 가능합니다. 휴가신청 및 일정관리, 연락처 관리부터 결제, 영업관리 등 그룹 내에서 등록한 프로세스의 실행이 즉각적으로 이루어지며, 플랫폼 내에서 업무의 진행 사항을 확인 할 수 있는 등 기존 BPM의 이점을 그대로 효용 가능합니다.</div>
                    <div class="clear"></div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="index_bottom"></div>
</div>
