<%
	if(value){
%>
	<%=fields.pageNavigator.here()%>
	
	<div id="container" class="ui-layout-container" style="overflow: hidden; width:100%; height:100%">
		<%=fields.layout.here()%>
	</div>

	
<%
	}
%>