<%= fields.properties.here() %>

<a id="wBtn" href="#" onClick="<%=methods.addProperty.caller()%>">
    <span>프로퍼티 추가</span>
</a>
<a id="wBtn" href="#" onClick="<%=methods.save.caller()%>">
    <span>저장</span>
</a>