<div id="navigationTitle" class="tabCurrent">
    <span style="margin-right:0px;padding-right:0px">
	    <div title="<%=mw3.localize(value.id)%>">
	    <div style="background:url(images/<%=value.type%>.png) no-repeat 0px 2px; padding-left:18px;margin-right:18px"><%=mw3.localize(value.name)%></div>
	    
	    </div>
    </span>
    <div class="togglebtnx" style="top:5px;" onClick="mw3.getFaceHelper(<%=objectId%>).remove(event);"></div>
    
</div>