<div class="formpreview_outer" style="height:100%; padding:50px; background:#C4CFD5">
	<div class="formpreview_inner" style="border: 1px solid rgb(204, 204, 204);box-shadow: rgb(136, 136, 136) 2px 2px 5px; background:#fff;">
		<%=fields.form.here()%>
	</div>
</div>

