<div class="fb_property_tit">Add a field</div>
<ul>

<%
	if(value != null && typeof value != 'undefined'){
		if(value.formFields.length > 0){							
			for(var i=0; i<value.formFields.length; i++){
%>
	<%=mw3.locateObject(value.formFields[i], value.formFields[i].__className, null, {'htmlTag' : 'li'}, {objectId: objectId, name: 'formFields[' + i + ']'})%>
<%
			}
			
			mw3.onLoadFaceHelperScript();
		}
	}		
%>

</ul>