<%
	if(value){
%>
	<div>
		<div  style="overflow:hidden; width:980px; height:50px;">
			<%=fields.companySearch.here()%>
		<div>
		<div class="left" style="overflow:hidden; position:absolute; width:400px; height:500px;left:10px;top:50px;  float:left; border:solid 0px #000;">
			<%=fields.companyList.here()%>
			<%=fields.companyPaging.here()%>
		</div>
		<div style="overflow:hidden; position:absolute; width:540px; height:500px; top:50px;margin-left:440px; float:left;border:solid 0px #000;">
			<%=fields.externalCompanyDetail.here()%>
		</div>
	</div>
<%
	}
%>