<div>
    
    <div>
        <B>수행자</B>
        <%=fields.userName.here()%>
    </div>
    
 
    <div>   
        <B>수행능력</B> 
        <%=fields.performance.here()%>
    </div>
    
    <div>
        <B>신뢰도</B>
        <%=fields.reliability.here()%>
    </div>
    
    <div>
        <B>성실성</B>
        <%=fields.integrity.here()%>
    </div>
   
</div>
