<%
	if(value != null){
%>
<li><img class="navi_icon" src="images/waveStyle/nav_newsfeed.png"><a onClick="<%=methods.select.caller()%>" href="#"><%=mw3.localize("$App")%></a></li>			

	<%if(value.selected){%>
		<div class="depth2">
			<ul class="fist_menu">
				<span onClick="<%=methods.openApp.caller() %>"> <%=fields.appList.here() %></span>
			</ul>
		</div>
	<%}%>

<%
	}
%>