<%
if(value) {
%>

<ul class="process_map2">   

    <li onClick="<%=methods.load.caller()%>">
        <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
        <%=value.selfTest%>
        
    </li>
    
    <li onClick="<%=methods.load.caller()%>">
        <img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="50" height="50"/>
        <%=value.regionMatching%>
    </li>

</ul>

<%
}
%>