<div id="jvm_worldMap"; style="width: 1000px; height: 625px; z-index: 99999; position: relative;"></div>
<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc; z-index:999999;">
    <ul>    
         <li><a id="wBtn" href="#" onClick="<%=methods.loadPastOrderInformation.caller()%>"><span>차트</span></a></li>
     </ul>
</div>

