<div id="jvm_worldMap"; style="width: 1080px; height: 625px; z-index: 1100; position: relative;">
</div>

<div id="btnline" style="padding-top:8px; border-top:1px solid #ccc;">
    <ul>    
         <li><a id="wBtn" href="#" onClick="<%=methods.loadPastOrderInformation.caller()%>"><span>차트</span></a></li>
    </ul>
</div>