<% if(value) { %>
   <!-- <canvas id="scatter3" width="860" height="540">[No canvas support]</canvas> -->
   <div id="scatter3" style="min-width: 860px; height: 500px; margin: 0 auto"></div>
<% } %>