<div class="pane ui-layout-north">
	<%=fields.searchBox.here({when: 'contact'})%>
</div>

<div class="pane ui-layout-center">
	<div class="ui-layout-content">
			<%=fields.contactList.here()%>
	</div>
</div>

<div class="pane ui-layout-south">
	<div id="addcontact">
		<div id="btnAddContact" style="float:right">
			<a href="#" onclick="<%=methods.addContact.caller()%>"><img src="images/waveStyle/addContact_f.png" /></a>	   
		</div>
		<div id="btnAddLocalContact" style="float:right">
			<a href="#" onclick="<%=methods.addLocalContact.caller()%>"><img src="images/waveStyle/addContact.png" /></a>	   
		</div>
	</div>
</div>