<%
	if(value){
%>	
	<li>	
		<%=fields.friend.here()%>
		
		<div style="clear:left;"></div>
<%
		if(mw3.where && mw3.where =='roleUserPicker') {
%>
		<%=methods.roleUserPickUp.here()%>
<%
		} else {
%>
		<%=methods.pickUp.here()%>
<%
		}
%>
	</li>
<%
	}
%>
