		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
		
		            <div id="searchbox">
		                <div class="searchboxline">
		                	<div class="searchboxline2">
		                        <div class="newprocessbtn"><a href="#" onclick="<%=methods.newInstance.caller()%>"><div id="startBtn">NEW</div></a></div>
		                        <div class="searchboxarea">
		                        	<%=fields.searchBox.here()%>
		                        </div>
		                        <div style="clear:both;"></div>
		                    </div>
		                </div>
		                <div style="clear:both;"></div>
		            </div>    
		            <div class="toolbar">
	                    <ul>
	                        <li style="width:85px"><span></span><span>Participant</span></li>
	                        <li style="border:none"><span></span><span>Instance</span></li>               
	                        <li style="width:100px; float:right; border-left:1px solid #ccc;"><span></span><span>Date</span></li>
	                    </ul>
                	</div>     
		        </div>

		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center">
			<div class="ui-layout-content">
				<%=value.instanceList ? fields.instanceList.here() : ""%>
				<%=value.scheduleCalendar ? fields.scheduleCalendar.here() : ""%>
			</div>
		</div>