		<div class="pane ui-layout-north">
		   <div class="boxmiddleright">
		        <div class="boxmiddleleft">
		
		            <div id="searchbox">
		                <div class="searchboxline">
		                	<div class="searchboxline2">
		                        <div class="newprocessbtn"><a href="#" onclick="<%=methods.newInstance.caller()%>"><div id="startBtn">NEW</div></a></div>
		                        <div class="searchboxarea">
		                        	<%=fields.searchBox.here()%>
		                        </div>
		                        <div style="clear:both;"></div>
		                    </div>
		                </div>
		                <div style="clear:both;"></div>
		            </div>         
		        </div>
		    </div>  		
		
			
		</div>

		<div class="pane ui-layout-center">
			<div class="ui-layout-content">
				<%=fields.instanceList.here()%>
			</div>
		</div>