

<%if (value!=null){

	mw3['pinterest_listCount']=0;
%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<div onactivate="alert('xxx')" class="box col1" onclick="<%=methods.more.caller()%>" style="background:#FED080"><br><center><%=mw3.localize("$more")%> </center><br></div>


<%}

}%>