<div class="boxmiddleright" style="height:48px">
    <div class="boxmiddleleft">
        <div class="worklistcontentcontainer">
			<%=fields.searchBox.here()%>
		</div>
	</div>
</div>
<div class="boxmiddleright">
    <div class="boxmiddleleft">
        <div class="worklistcontentcontainer">
        	<div id="scroll_div" style="overflow:auto; height:100%">        
				<%=fields.instList.here()%>
			</div>
		</div>
	</div>
</div>
