<div id="navigator">
<%=fields.personalPerspective.here() %>

<%=fields.organizationPerspective.here() %>

<%=fields.processPerspective.here() %>

<%=fields.strategicPerspective.here() %>
</div>