
   <div class="boxmiddleright">
        <div class="boxmiddleleft">
        
<%
	if(mw3.when == 'contact'){
%>

        	 <div id="mystatus">
        	 	<ul>	                	 	
            	 	<div id="myInfo">
            	 		<!--li><img src="/uengine-web/images/waveStyle/xxxxxxxxx.gif" border="0" height="30" width="30" /></li>
            	 		<li class="name">강태욱</li-->
            	 		
            	 	</div>
            	 	<div style="clear:both;"></div>
        	 	</ul> 
        	 </div>                	 
             <div id="contactsearchbox">
                   <ul>
                       <li class="inputleft"><img src="/uengine-web/images/waveStyle/searchLeft.gif" border="0" /></li>
                       <li class="inputcenter">
                           <input id="search_<%=objectId%>" class="contactsinput" value="" onkeydown="keyEventProcess('<%=objectId%>')">

                       </li>
                       <li class="inputright"><img src="/uengine-web/images/waveStyle/searchRight.gif" border="0" /></li>
                       <li style="clear:left;"></li>
                   </ul>
              </div>
              
<% 
	} else {
%>
            <div id="searchbox">
                <div class="searchboxline">
                	<div class="searchboxline2">
                        <div class="newprocessbtn"><a href="#"><div id="startBtn">NEW</div></a></div>
                        <div class="searchboxarea">
                            <ul>
                                <li class="inputleft"><img src="/uengine-web/images/waveStyle/searchLeft.gif" border="0" /></li>
                                <li class="inputcenter">
                                     <input id="search_<%=objectId%>" class="contactsinput" value="" onkeydown="keyEventProcess('<%=objectId%>')">
                                </li>
                                <li class="inputright"><img src="/uengine-web/images/waveStyle/searchRight.gif" border="0" /></li>
                                <li style="clear:left;"></li>
                            </ul>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>

<%
	}
%>
         
        </div>
    </div>  
    




    
