<%
	if(value){
	
		if(mw3.when == 'view'){
			if(value.ux && value.ux == 'phone') {
%>
		<div onClick="" style="float:left;margin-right:10px; width:96px; padding-left:45px;background:url(images/waveStyle/back.gif) no-repeat;">
			<span style="display:inline-block; line-height:37px;">To list</span>			
		</div>
<%
			}
%>
		<div style="float:left; margin-right:15px;">
			<span style="display:inline-block; line-height:37px;"><%=fields.employee.here() %></span>
				 |	
			<a href="http://www.slideshare.net/pongsor/110609-8326309" type="application/pdf"><%=mw3.localize("$Help")%></a>			 
				 |	
			<span style="display:inline-block; line-height:37px;"><a onClick="<%=methods.logout.caller() %>" style="cursor:pointer;"><%=mw3.localize("$Logout")%></a></span>
		</div>

			


<%
		}
	}
%>
