<table>
	<tr>
		<td>
			<%=mw3.localize('$ProjectName')%>:
		</td>
		<td>
			<%=fields.name.here()%>
		</td>
	</tr>
	<tr>
		<td>
			<%=mw3.localize('$ProjectDescription')%>:
		</td>
		<td>
			<%=fields.description.here()%>
		</td>		
	</tr>
</table>