VM 생성을 위한 OS, DB, WAS를 선택해주세요.
<br/><br/>
<table>
	<tr>
		<td>
			OS:
		</td>
		<td>
			<%=fields.osSelect.here()%>
		</td>
	</tr>
	<tr>
		<td>
			DB:
		</td>
		<td>
			<%=fields.dbSelect.here()%>
		</td>
	</tr>
	<tr>
		<td>
			WAS:
		</td>
		<td>
			<%=fields.wasSelect.here()%>
		</td>
	</tr>
</table>