<table>
	<tr>
		<td>
			개발기를 선택해주세요.
		</td>
	</tr>
	<tr>
		<td>
			<%=fields.vmRealmCombo.here()%>
		</td>
	</tr>
	<tr>
		<td>
			<%=fields.vmImageCombo.here()%>
		</td>
	</tr>
</table>