<div id="navigator">

	<%=fields.documentNavigatorPanel.here() %>
	<div class="documentFolderPanel">
		<div class="documentFolderPanel_inner_box">
			<%=fields.documentFolderPanel.here() %>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="documentFilePanel">
		<div class="documentFilePanel_inner_box">
			<%=fields.documentFilePanel.here() %>
			<div class="clear"></div>
		</div>
	</div>
</div>	