<div>
	전자문서네비게이터 
</div>

<div style="height:40px;">
<%
    if( value ){
        var list = value.documentList;
        for( var i = 0; i < list.length; i++){
%>
	<style> a:hover{ text-decoration:underline; } </style>
		<a onClick="mw3.getFaceHelper(<%=objectId%>).clickNavigator('<%= i %>')" href="#">
            <span><%= list[i].name %></span> 
        </a>
        &nbsp;<b>></b>&nbsp;
<%
        }
    }
%>
</div>