<div class="windowSubTitle">
	<span class="ProcessNameView"><font style="font-size:16px">전자문서네비게이터</font></span> 
</div>

<div class="documentNavigation">
<%
    if( value ){
        var list = value.documentList;
        for( var i = 0; i < list.length; i++){
%>
	<style> a:hover{ text-decoration:underline; } </style>
		<a onClick="mw3.getFaceHelper(<%=objectId%>).clickNavigator('<%= i %>')" href="#">
            <span><%= list[i].name %></span> 
        </a>
        &nbsp;<b>></b>&nbsp;
<%
        }
    }
%>
</div>