<div style="background:#dfe6ed; border-bottom:1px solid #bfcddb; padding:8px;">
	<span class="ProcessNameView" style="margin-right:10px;"><font size="6" style="font-style:normal;font-family:Verdana;">전자문서네비게이터</font></span> 
</div>

<div style="background:#dfe6ed; border-bottom:1px solid #bfcddb; padding:3px 8px;-webkit-box-shadow:0 3px 4px #ccc; margin-bottom:15px;">
<%
    if( value ){
        var list = value.documentList;
        for( var i = 0; i < list.length; i++){
%>
	<style> a:hover{ text-decoration:underline; } </style>
		<a onClick="mw3.getFaceHelper(<%=objectId%>).clickNavigator('<%= i %>')" href="#">
            <span><%= list[i].name %></span> 
        </a>
        &nbsp;<b>></b>&nbsp;
<%
        }
    }
%>
</div>