<div class="windowSubTitle">
	<span class="ProcessNameView"><font style="font-size:16px">전자문서네비게이터</font></span> 
</div>

<div class="documentNavigation">
		<%=fields.documentList.here()%>
		<div class="clear"></div>
		
</div>


