<div id="navigator">

	<%=fields.documentNavigatorPanel.here() %>
	<%=fields.documentFolderPanel.here() %>
	<div style=" width:100%; height:4px; margin-top:20px; margin-bottom:20px; background:white;"></div>
	<%=fields.documentFilePanel.here() %>
</div>	