<%
        if(value.favoriteAdded == true){
%>
    <span style="padding:10px; float:left;"><img src="images/checkbox_on.png" class="favoriteToggle" style="width: 18px; height: 18px;"/></span>
<%
    }else{
%>
    <span style="padding:10px; float:left;"><img src="images/checkbox_off.png" class="favoriteToggle" style="width: 18px; height: 18px;"/></span>
<% } %>

		<span style="padding:10px; float:left;">
            <textarea id="instanceName_<%=objectId%>" row="1" style="background:#dfe6ed; font-family:'맑은 고딕', 'Malgun gothic', Arial;font-weight:700; font-size:24px; width:80%;line-height:105%;height:30px;display:block; border:1px solid transparent;word-wrap:break-word;resize:none; overflow:hidden; -webkit-border-radius:3px;margin-top: 0px; border:0px; outline-color:#A8C9EE; margin-bottom: 0px;">
                <%=value ? value.alias : ""%>
            </textarea>
        </span>
