	<span  class="ProcessNameView" style="margin-right:10px;">
		<font size=6 style="font-style:normal;font-family:Verdana;"><%= value.alias%></font>
	</span>
<%
		if(value.favoriteAdded == true){
%>
	<img src="images/checkbox_on.png" class="favoriteToggle" style="width: 18px; height: 18px;"/>
<%
	}else{
%>
	<img src="images/checkbox_off.png" class="favoriteToggle" style="width: 18px; height: 18px;"/>
<% } %>
