<div style="padding:5px;">
	<font size=5><span  class="ProcessNameView">
	<%= value.fileId%>	</span></font>
<%
		if(value.favoriteAdded == true){
%>
	<img src="images/checkbox_on.png" class="favoriteToggle" style="width: 16px; height: 16px;vertical-align: middle;"/>
<%
	}else{
%>
	<img src="images/checkbox_off.png" class="favoriteToggle" style="width: 16px; height: 16px;vertical-align: middle;"/>
<% } %>
