<%
	if(value != null && typeof value != 'undefined'){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>" ><%=mw3.localize("Valuechain")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<div style="margin-left:10px;"><%=fields.processDefinitionTree.here()%></div>
	</div>
<%}else{%>
<%}%>

<%
	}
%>