<%
if(mw3.when == 'filter'){

%>

	<img  class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="13" height="13"/><a href="#" onClick="#"><%=value.appName%></a>
	
<%
	
	}
	
%>