<%
	if(value != null && typeof value != 'undefined'){
		if(mw3.how == 'inList'){
%>
		
<div class="mp_center_banner">
          <div id="slideshow_<%=objectId%>" data-cycle-timeout="0" data-cycle-fx="carousel" data-cycle-carousel-visible="1" data-cycle-prev="#prev"  data-cycle-next="#next" data-cycle-carousel-fluid=true data-cycle-pager=".mp_left_menu" data-cycle-pager-template="" data-cycle-pager-active-class="current">
            <IMG src="images/marketPlace/mainBanner0.jpg">
            <IMG src="images/marketPlace/mainBanner1.jpg"> 
            <IMG src="images/marketPlace/mainBanner2.jpg"> 
            <IMG src="images/marketPlace/mainBanner3.jpg"> 
            <IMG src="images/marketPlace/mainBanner4.jpg"> 
            <IMG src="images/marketPlace/mainBanner5.jpg"> 
            <IMG src="images/marketPlace/mainBanner6.jpg"> 
          </div>
          <div class="mp_center_btn">
             <A id="prev" class="mp_banner_btn_p" href="#"> <img src="images/marketPlace/banner_prev.png" border="0"/> </A> 
             <A id="next" class="mp_banner_btn_n" href="#"> <img src="images/marketPlace/banner_next.png"  border="0"/> </A> 
          </div>
</div>
   
<%=fields.appList.here({htmlAttr: {class : 'mp_lst_type'}})%>

<%
		}else{
%>

<%=fields.appDetail.here()%>

<%
		}
	}
%>