
<%
if(value){

%>

	<div style="font-size:15px; font-weight:bold">New Apps</div>
	<img src="images/empty_editor_divider.png" />
	
	<div> <%=fields.listing.here()%> </div>
	
	<img src="images/waveStyle/morePoint.png" />
	
<%

}
%>
