
<%

if(value){


%>

	<span>
		<table width="100%">
			<tr>
				<td colspan="4" align="right">
					 <%=fields.session.here({when:'view'})%>
				</td>
			</tr>
			<tr>
				<td width="30">
					<div class="logo"> <img src="images/waveStyle/logo.png" onClick="#"> </div>
				</td>
				<td valign="bottom" width="50">
					Marketplace
				</td>
			</tr>
		</table>
	</span>
<%

}

%>

