<div style="margin:10px 0">
<div style="float:left">
	<%=fields.versionSelector.here({when:'edit'})%>
</div>

<a id="wBtn" href="#" onClick="<%=methods.choose.caller()%>"><span><%=mw3.localize("$choose")%></span></a>

<div style="clear:both" />
<div>