	<div id="gnb_wrap">
		<div id="gnb_l">
		</div>	
		<div id="gnb">
			<ul>
<%
	if(value){
		if(objectMetadata.serviceMethodContexts){
			for(var key in objectMetadata.serviceMethodContexts){
			
				var serviceMethod = objectMetadata.serviceMethodContexts[key];
				var methodName = serviceMethod.methodName;
				var menuName = methodName;
				
				if(serviceMethod.displayName)
					menuName = serviceMethod.displayName;			
			
				menuName = menuName.replace("\&", "");
%>
				<li><a href="#" onclick="mw3.getFaceHelper('<%=objectId%>').callMethod(this, '<%=methodName%>');"><span><%=menuName%></span></a></li>					
<%
			}
		}
	}
%>
			</ul>
		</div>
		<div id="gnb_r">
		</div>
	</div>	