<%
	if(value){
%>

<div class="tool_bar">
    <ul>
        <!-- CSS Tabs -->
		<li><a href="#" onclick="<%=methods.share.caller()%>"><span><img src="/uengine-web/images/ide/toolbar/tool_icon1.png"></span></a></li>
		<li><a href="#"><span><img src="/uengine-web/images/ide/toolbar/tool_icon2.png"></span></a></li>
		<li><a href="#"><span><img src="/uengine-web/images/ide/toolbar/tool_icon3.png"></span></a></li>
		<li><a href="#"><span><img src="/uengine-web/images/ide/toolbar/tool_icon4.png"></span></a></li>
    </ul>
</div>

<%
	}
%>