<div align="center">
    <div style="position: relative; left: 0; top:20px; width: 700px; height: 400px; background-color: #f6f6f6;">
        <div id="tree1" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= fields.leftTree.here() %></div>
        <div id="canvas2" style="width:300px; height: 400px;  float: left;"></div>
        <div id="tree2" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="right"><%= fields.rightTree.here() %></div>
    </div>
    <div>
    	<ul>
    	<li><a id="wBtn" href="#" onClick="<%=methods.doSaveMapper.caller()%>"><span><%=mw3.localize("$save")%></span></a></li>
    	</ul>
    </div>
</div>