<%
if(mw3.when==mw3.WHEN_NEW){%>

<%=fields.fileTransfer.here()%>

<%
}else if(value!=null){
%>

<div onclick="mw3.getFaceHelper('<%=objectId%>').download()">
Download: <%=value.uploadedPath%>
</div>

<%
}
%>