<div id = "contactsearchbox">
     <%=fields.searchBox.here()%>
</div>

<div>
    <%=fields.resourceTree.here()%>

<div style="width: 100%;bottom: 0px;max-height: 150px;overflow: auto;">
        <%=fields.rolePerspective.here()%>
</div></div>
