<iframe src="http://codiqa.com/embed/editor" style="width: 100%; height: 800px; border: 1px solid #ccc; margin-top:0px;"></iframe>

<div id="hidBar" style="position: absolute; left: 0px; top: 1px; background: url('http://codiqa.com/static/images/v2/menu_bar_tile.png'); height: 30px; width: 100%">
</div>

<div style="position: absolute; left: 0px; top: 1px; background: url('http://codiqa.com/static/images/v2/menu_bar_tile.png'); height: 30px; width: 100px">
</div>

<div style="position: absolute; right: 5px; top: 1px; background: url('http://codiqa.com/static/images/v2/menu_bar_tile.png'); height:30px; width: 125px">
	<a href="javascript:mw3.getFaceHelper(<%=objectId%>).make()" id="toolbar-app-save" class="button dark l clearfix" style="margin-top: 5px; margin-right: 9px; text-decoration: none; color: #CCC; text-shadow: 0px -1px 0px black; padding: 3px 10px; border-radius: 2px; border: 1px solid #050505; box-shadow: inset 0px 2px 1px -1px #838383, 0px 1px 0px #444;">
		<div class="b-icon b-icon-download" style="margin: 0; padding: 0; display: inline-block; width: 10px; height: 10px; margin-bottom: -1px; margin-right: 4px; background: url('http://codiqa.com/static/images/v2/embed_download_icon.png') no-repeat transparent;"></div>
        Make
	</a>
</div>
