<%
	if(value){
%>
	<div class="logo"><img src="images/waveStyle/<%=mw3.localize("$logo")%>.png"></div>
	
	<%=fields.mainMenu.here()%>
	
	<%=fields.windowPanel.here()%>
		
    <div class="info">
    
        <%if(mw3.when!='__design-depth2'){/*TODO: later, rather use 'where' than 'when'.*/ %>
        	<%=fields.session.here({when:'view'})%>
        <%}else{%>
        	session here.
        <%}%>	
		<div style="color:#aaaabb; font-size:8pt;float:left; margin-top:-10px;">PaaS for Business Expert (Chrome Optimized)</div>
	</div>				
<%
	}
%>