
<div>
	<div style="float:left;width:420px;height:600px;border:1px solid #ccc;background:#F6F6F6;margin:10px;">
		<div></div>
		<%=fields.fieldTree.here()%>
	</div>
	
	<div style="float:left;margin:10px">
		<a id="wBtn" href="#" ><span>Select All</span></a><div class="clear" style="margin-bottom:7px"></div>
		<a id="wBtn" href="#" ><span>Deselect All</span></a><div class="clear" style="margin-bottom:7px"></div>
		<a id="wBtn" href="#" ><span>Select Getters</span></a><div class="clear" style="margin-bottom:7px"></div>
		<a id="wBtn" href="#" ><span>Select Setters</span></a><div class="clear"></div>
	</div>	
	<div class="clear"></div>
</div>

<div style="margin-top:15px;">
	<div class="positionRight">
		<%=methods.ok.here()%>
		<%=methods.cancel.here()%>
	</div>
	<div class="clear"></div>
</div>