<%
	if(value){
%>
		
		<a id="wBtn" href="#" onClick="<%=methods.addProject.caller()%>"><span><%=mw3.localize('$CreateProject')%></span></a><div class="clear"></div><br>
		
		
		<%=fields.projectNode.here()%>
			
		

<%
	}
%>