<%
	if(value){
%>
<div class="crowdSourcing">
<span style="float:right; margin:5px 5px 0 5px;">
	<a href="javascript:<%=methods.crowdSourcing.caller()%>;"><img src="images/waveStyle/<%=value.open=='ON'?'crowdSourcing_on':'crowdSourcing_off'%>.gif"></a>
</span>
<span style="float:right"><b>팔로워들의 친구들에게도 내용을 공유합니다  </b></span>
</div>
<%
	}
%>
