<%
	if(value){
		if(value.instId != null){
%>

<table id="tableHidtoryContent_1" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody><tr>
		<td rowspan="3" width="60" align="center" valign="top">
			<%=fields.writer.here()%>
		</td>				
		<td>					
			<div class="formcontexttitle" id="currentRunningWorkItemHandler" onclick="getFormContext('1','/uengine-web/codi-web/processparticipant/codiWorkitemHandler.jsp?taskId=950&amp;tag=1&amp;appKey=9bf41e27-0102-48ec-8494-122ebc94232f')">
				<img src="images/activity_status/i_status_confirmed.png">
				<a onclick="<%=methods.detail.caller()%>"><%=value.title%></a>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="" style="position: relative;">
			<div class="good_up"><span id="saidGoodUsersInfo950"><div class="re_saidGood"><em>&nbsp;</em></div></span><span id="task950" class="cb_activate_up cb_first"><a href="javascript:pressIsGood('task', '950')"><em>좋아요2222222</em></a></span>						
			</div>					
			</div>					
			<div id="addCommentArea_tempTaskId"></div>				
		</td>			
	</tr>			
</table>

<%
			if(value.workItemHandler && value.workItemHandler.instanceId){
%>
<%=fields.workItemHandler.here()%>
<%
			}
		}
	}
%>