		<div class="pane ui-layout-north">
			<%=fields.searchBox.here()%>
		</div>

		<div class="pane ui-layout-center">
			<div class="ui-layout-content">
				<%=fields.instanceList.here()%>
			</div>
		</div>