

<%if (value!=null){

	mw3['pinterest_listCount']=0;
%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

<div class="box col1" onclick="<%=methods.more.caller()%>" style="background:#FEEE80"><br><center>more + </center><br></div>


<%}

}%>