
<%
	if(value){
	
		mw3.setWhere("pinterest");
%>
	<%=fields.pageNavigator.here()%>
	
	<%=fields.processTopPanel.here()%>
	
	<!--div class="corner-stamp"> 
		I'm up in your layoutz.
	</div--> 
	
<div id="pinterest_container" class="transitions-enabled clearfix" style="position:absolute; left: 10px; top: 12px;">



<div class="box col3" style="background: #D8E2E9">
<%=fields.newInstancePanel.here()%>
</div>
	
	<%=fields.instanceListPanel.here()%>

</div>

<%
		mw3.setWhere("anywhere");
	}
%>

