<%=fields.searchBox.here()%>

<div class="mp_left_sec_line"></div>

<%=fields.category.here({htmlAttrChild: {class: 'mp_left_menu cycle-pager external'}})%>

<div class="mp_left_sec_line"></div>

<%=fields.marketplaceMenu.here()%>