<%
	if(value){
		var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
%>
 	<div class="logo"><img src="images/waveStyle/logo.gif"></div>
 	
    <div class="info">		    
        <%=fields.session.here({when:'view'})%>
	</div>	
<%		
	}
%>


