<%
	if(value){
%>
<div class="depth2">
	<ul class="fist_menu">
		<li>
			<a onClick="<%=methods.select.caller()%>" href="#"><%=mw3.localize("$Project")%></a>
		</li>			
	</ul>
</div>

<%if(value.selected){%>

	<div class="depth2">
		<ul class="fist_menu">
			<%=fields.projectPanel.here() %>
		</ul>
	</div>
<%}%>

<%
	}
%>