<div> <span id="">
    <input class="checkbox" type="checkbox">
    <label class="choice">First option</label>
    <input class="checkbox" type="checkbox">
    <label class="choice">Second option</label>
    <input class="checkbox" type="checkbox">
    <label class="choice">Third option</label>
</span> </div>