<div class="fb_form_box">
	<label class="fb_desc" id=""><%=fields.displayName.here()%></label>
		<div> <span>
			<input readonly="readonly" class="text" size="2" type="text"> 
			 / 
			<label>MM</label> 
			</span><span>
			<input readonly="readonly" class="text" size="2" type="text"> 
			 / 
			<label>DD</label> 
			</span><span>
			<input readonly="readonly" class="text" size="4" type="text"> 
			<label>YYYY</label>
			</span><img src="images/waveStyle/i_gantt.png" alt="Pick Date." class="icon" style="position:relative; top:2px;"> 
		</div>
</div>