<div class="fb_form_box">
	<label class="fb_desc" id="title3"><%=fields.displayName.here()%></label>
	<div>
		<select id="" class="select medium">
			<option>First option</option>
			<option>Second option</option>
			<option>Third option</option>
		</select>
	</div>
</div>