<%
	var name = (objectMetadata.name).substring((objectMetadata.name).lastIndexOf(".")+1);
%>

<span><img src="images/waveStyle/<%=name%>.png" /></span><span class="add_f_text"><%=mw3.localize(objectMetadata.displayName)%></span>