<div class="multi_line">
	<span><input class="text medium" id="field0" type="text" value=""></span>
	<span onclick="<%=methods.add.caller()%>"><img src="images/waveStyle/add.png" /></span>		
	<span onclick="<%=methods.remove.caller()%>"><img src="images/waveStyle/delete.png" /></span>
</div>
