<%
	if(value == null && typeof value == 'undefined')
		return;
		
%>


<div class="top" style="background-color:gray; height: 50px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
	<%=methods.preview.here()%>
</div>

<div class="bottom" style="background-color:gray; top: 50px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">	
	<div class="left" style="background-color:gray; width: 500px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px; bottom:0px">
		<%=fields.form.here()%>
	</div>
	
	<div class="right" style="left: 500px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  right: 0px; top: 0px; bottom:0px">
		<div class="top" style="background-color:gray; height: 400px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
			<%=fields.properties.here()%>
		</div>
		
		<div class="bottom" style="background-color:gray; top: 400px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">
			<%=fields.menu.here()%>
		</div>
	</div>
</div>	
