<div id="roleTab">
	<ul>
        <li><a href="#roles">roles</a></li>
        <li><a href="#valiables">valiables</a></li>
    </ul>
	<div id="roles">
		<%=fields.rolePanel.here()%>
	</div>
	<div id="valiables">
		<%=fields.prcsValiablePanel.here()%>
	</div>
</div>