<%
if(value){
%>

	<%
	if(mw3.when == 'expression'){
	%>
			aaa == bbb
	<%
	} else {
	%>
		<div class="roleBox">
			<div style="float:left; height:35px;">Eval</div>
		</div>
	<%
	}
	%>
<%
}
%>