<%
	if(value){
%>

<div class="left" style="width: 100px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; top: 0px;">
	<%=fields.instanceMonitorNavigator.here()%>	
</div>

<div class="right" style="left: 100px; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px; right: 0px; top:0px; bottom: 0px;">	
	<%=fields.instanceMonitor.here()%>
</div>

<%
	}
%>
	