<%
	if(value){
%>

<div class="processMonitoringLeft" >
	<%=fields.instanceMonitorNavigator.here()%>	
</div>

<div class="processMonitoringRight" >	
	<%=fields.instanceMonitor.here()%>
</div>

<%
	}
%>
	