<% if( value ){ %>
    <button type="button" class="btn btn-info btn-xs"  onclick="<%=methods.showDefinitionMonitor.caller()%>"><span class="glyphicon glyphicon-paperclip"></span> <%=mw3.localize('$SubProcessActivityEdit')%></button>
    <span style="float: left; line-height:1.8em; margin-left:10px; max-width:200px; overflow:hidden; white-space:nowrap; text-overflow: ellipsis;" id="filename_<%=objectId%>"><%= value.definitionId %></span>
    <div class="clear"></div>
<% } %>