
<span>프로세스 경로     : <%= fields.processBasePath.here() %></span>
<span>이미지 경로      : <%= fields.imgBasePath.here() %></span>
<span>업로드 경로      : <%= fields.uploadBasePath.here() %></span>


<%= fields.metadata.here() %>