<%= fields.properties.here({when:'view'}) %>
<%= fields.newMetadataProperty.here() %>

<a id="wBtn" href="#" onClick="mw3.getFaceHelper('<%=objectId%>').saveProperty()">
	<span><%=mw3.localize("$addProperty")%></span>
</a>

