
<%
if(value){
%>


	<div class="oce_h1">
		<%=mw3.localize("$MyApps")%>
	</div>
	
	<span class="oce_more">
	<button type="button" class="btn btn-default btn-xs" onClick="<%=methods.addApp.caller()%>"><span class="glyphicon glyphicon-plus-sign"></span> <%=mw3.localize("$MyApps.add")%></button>
	</span>
	
	<div class="clear"></div>
	
	



<div class="time_line _noti_list myapp_panel">
	<ul class="process_map2" style="padding:0px;">
		<%=fields.myAppsList.here()%>
	</ul>
</div>

<%
}
%>