<%
	if(value){
%>
	<div id="scheduleCalendar_<%=objectId%>"></div>
	
	<div style="margin-top:15px;">
		<a id="wBtn" href="#"  onclick="mw3.getFaceHelper('<%=objectId%>').resize();" style="float:right"><span>refresh</span></a>
	</div>
<%
	}
%>