<%
	var portrait = '';		
		if(value.network == 'local' || value.network == null){
			if(value.committor)
				portrait = 'portrait/' + value.committor + '.thumnail';			
		}
		
%>
<div style="border-bottom:1px solid #ccc; padding:5px; vertical-align:middle;">
	<%=fields.isChecked.here({when: 'edit'})%>
	<img id="user_picture_<%=objectId%>" src="<%=portrait%>" width="35" height="35" style="margin-right:5px;">
	<%=value.userName%>
	<div class="clear"></div>
</div>