<div width=100% height=100% s tyle="background:#FFFFB2">

<%
	if(value){
%>

<br>
<table><tr><td width=20></td><td><%=fields.path.here()%><td></tr></table>
<br>

	<%=fields.wfNode.here()%>
<%
		if(mw3.when != 'read'){
%>		
	<span style="padding-left:40px">
		<%=methods.newNode.here()%>
	</span>	
	
<%
		}
	}
%>

</div>	