<div style="width:100%; height:100%;" >

<%
	if(value && !value.first){
%>

<br>
<table><tr><td width=20></td><td><%=fields.path.here()%><td></tr></table>
<br>

	<%=fields.wfNode.here()%>
<%
		if(mw3.when != 'read'){
%>		
	<div style="clear:both;margin:15px 0 0 30px">
		<a href="javascript:<%=methods.newNode.caller()%>"><img src="images/waveStyle/plusNode.png"></a>
	</div>	
	
<%
		}
	}
%>

</div>	