<%
	if(value){
%>

[<%=fields.path.here()%>]

<p>

	<%=fields.wfNode.here()%>
<%
		if(mw3.when != 'read'){
%>		
	<span style="padding-left:40px">
		<%=methods.newNode.here()%>
	</span>	
	
<%
		}
	}
%>	