<%
    if(value){
%>
<%
        if(mw3.when == 'new'){
%>
            <div id="btnline" style="padding-top:8px;">
                <ul>
                <li><a id="wBtn" class="wBtn" href="#" onClick="<%=methods.addVariable.caller()%>"><span>변수 추가</span></a></li>
                </ul>
            </div>
<%
        }else{
%>
            <div>
                <%=fields.variable.here()%>
            </div>
<%
        }
%>
<%
    }
%>