<% if(value){ %>
    <% if(mw3.how == 'list'){ %>
        <ul>
            <li><%=fields.name.here()%></li>
            <li><%=fields.displayName.here()%></li>
        </ul>
    <% }%>
<% }%>
