<%
if(value){
%>

<div>
<%=mw3.localize("$MyProjects")%>
</div>

		<ul class="process_map2" style="border: none;"> 
			<a id="wBtn" href="#" onClick="<%=methods.addProject.caller()%>"><span><%=mw3.localize('$CreateProject')%></span></a><div class="clear"></div><br>
			<%=fields.projectNode.here() %>
		</ul>
<%
}
%>