
<%	
	if(value){
		if(mw3.when == mw3.WHEN_VIEW){
			if(value.open){
%>
	<%=fields.instanceViewContent.here()%>
<%
			}else{						
%>
	<div>
		<span>해당 Instace(<%=value.instanceId%>) 는 접근이 제한되었습니다.</span>
	</div>
<%		
			}
		}
	}else{
%>

  <div id="fb-root"></div>
  <div class="fb-login-button" data-scope="email,user_checkins,publish_stream,user_likes,export_stream" onlogin="mw3.getFaceHelper('<%=objectId%>').login()">
    Login with Facebook
  </div>

<%}%>