<%
//mw3.debug(value)

%>

<table>
	<tr>
	
		<td>
		<%=value.preview ? fields.preview.here() : ""%>
		</td>
	
		<td>
		
		<%
			mw3.setWhen("__design");
		%>	
			<%=mw3.locateObject(value.designee, value.designee.__className + ":genericfaces/DesignerFace.ejs")%>
		<%
			mw3.addBeanProperty(objectId, ".designee");
			
		%>
		</td>
	</tr>

	<tr>
		<td colspan=2>
			<%=methods.save.here()%>
		</td>
	</tr>

</table>