<%
	var name = objectMetadata.displayName;
	
	var nameField = null;
	if(objectMetadata.nameFieldDescriptor)
  		nameField = fields[objectMetadata.nameFieldDescriptor.name];  	
  		
  	if(nameField && value[nameField.fieldDescriptor.name])
  		name = value[nameField.fieldDescriptor.name];
  		
  	var imageName = name + '.png';
  	var displayName = '$form.field.' + name;
  	
%>

<span><img src="images/waveStyle/<%=imageName%>" /></span><span class="add_f_text"><%=mw3.localize(displayName)%></span>