<div class="top" style="height: 60%; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
	
         
    <div class="left" style="width:60%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; top: 0px; bottom: 0px border-right: 1px double #bbbbbb;  margin-bottom:3px;">
		<%=fields.processViewPanel.here()%>
                		
	</div>
	<div class="center" style="background-color:#EEEEEE;  position:relative;width:20px; height:100%; border-left:1px solid #BBBBBB; border-right:1px solid #BBBBBB; margin-left:623px;">&nbsp;</div>
	<div class="right" style="left: 60%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px; right: 0px; top: 0px; bottom: 0px;   margin:0px 0px 3px 3px;">
	<%=fields.processFormPanel.here()%>
		
	</div>
	       		
</div>

<div class="bottom" style="top: 60%; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px;">

    <div class="left" style="width: 50%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; top: 0px; bottom: 0px; border-right: 1px double #bbbbbb; border-top: 1px double #bbbbbb; margin :0px 2px 0px 0px;">
		<%=fields.processAttributePanel.here()%>
                		
	</div>
	<div class="right" style=" left: 50%; overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px; right: 0px; top: 0px; bottom: 0px; border-left: 1px double #bbbbbb; border-top: 1px double #bbbbbb; margin:0px 0px 0px 3px;">
		<%=fields.processSubAttributePanel.here()%>
	</div>

</div>
