<%

//mw3.debug(value);

if(mw3.when==mw3.WHEN_NEW || mw3.when==mw3.WHEN_EDIT){%>

<%=fields.fileTransfer.here()%>

<%
}

if(value!=null){

	if(value.mimeType && value.mimeType.indexOf('image') > -1){
	
	//alert(value.mimeType);
	
%>
<div id="image_<%=objectId%>">&nbsp;</div>
<%
	}
%>

<div onclick="mw3.getFaceHelper('<%=objectId%>').download()">
Download: <%=value.uploadedPath%>
</div>

<%
}
%>