<%if (value!=null){%>

<%=fields.instances.here()%>

<%=fields.moreInstanceList.here()%>

<%

if(value.moreInstanceList==null){
%>

    <div id="moreWorkDiv">
        <div class="morePointL"></div>
        <a class="moreBtn5" href="#" onClick="<%=methods.more.caller()%>"><%=mw3.localize("$more")%></a>
        <div class="morePointR"></div>
    </div>

<%}

}%>