<% if(value) { %>
    <tr> 
        <table cellspacing="0">
            <colgroup>
                    <col width="65">
                <col>
                    <col width="80">
                <col>
            </colgroup>
    
            <tr>
                <th rowspan="4" scope="row">구축기간</th>
                <th class="sub_th">no</th>
                <th class="sub_th">사업명</th>
                <th class="sub_th">연도</th>
                <th class="sub_th">기업명</th>
                <th class="sub_th">비고</th>
            </tr>
                            
        </table>
    </tr>
                    
<% } %>