<%
    if(value){
%>
    <div class="depth1" onClick="<%=methods.select.caller()%>"><span><%=mw3.localize("$Region")%></span></div>
<%
        if(value.selected){
%>
    <div class="depth2">
        <ul class="fist_menu">
            <li style="padding:0px; position:relative;"><%=fields.regionMap.here()%></li>
        </ul>
    </div>
<%
        }
    }
%>
