<%
	if(value){
%>
<div class="depth1" onClick="<%=methods.select.caller() %>"><span><%=fields.label.here()%></span></div>

<%if(value.selected){%>

	<div class="depth2">
		<div class="fist_menu">		
			<%=fields.projectPanel.here() %>
		</div>
	</div>
<%}%>

<%
	}
%>