<div><%=methods.preview.here()%></div>

<%=fields.form.here({htmlAttr:{class:'fb_left'}})%>

<div class="fb_content">
	<%=fields.properties.here({htmlAttr:{class:'fb_property'}})%>
    <%=fields.menu.here({htmlAttr:{class:'fb_addForm'}})%>     
</div>