
<div class="fb_left">
	<%=fields.form.here()%>
	
	<div id="btnline" style="border-top:1px solid #E3E8F2; padding-top:8px; padding-right:3px; margin-right:10px;"><ul><li>
		<a id="wBtn" href="#" onclick="<%=methods.preview.caller()%>"><span><img src="images/waveStyle/disk.png" style="position:relative; top:3px; margin-right:3px;"/>Save & Preview</span></a>
	
</li></ul></div>
	
	<div></div>
</div>

<div class="fb_content">
	<%=fields.properties.here({htmlAttr:{class:'fb_property'}})%>
    <%=fields.menu.here({htmlAttr:{class:'fb_addForm'}})%>     
</div>