<%
	if(mw3.where == 'ssp'){
%>

	<ul class="mp_left_menu cycle-pager external">
		<li id="mp_menu_list_<%=objectId%>" class="mp_menu_list"><%=value.appName%></li>
	</ul>

<%
	}else if(mw3.where == 'mapList'){

%>
<%
	}else{

%>

	<img class="navi_icon" alt="" src="images/processMap/iconDefault.png" width="13" height="13"/><a href="#" onClick="javascript:window.open('http://kiat.security.com:9090/uengine-web/')"><%=value.appName%></a>

<%
	}
%>