<%
	if(value){
%>
	<div class="detailView_app_outer">

		<div class="positionRight">
			<img style="cursor: pointer;" src="images/marketPlace/registerApp.png" onClick="<%=methods.createApp.caller()%>" />
		</div>
		<div class="clear"></div>

<%
		if(value.listing != null){
%>
		<div class="detailView_app" style="margin-top: 3px;">
			<div class="clear"></div>
		</div>	
						
		<%=fields.listing.here()%>
	</div>	
<%
		}
	}
%>