<%
	if(value){
		if('selfservice' != mw3.how){
%>

<div class="top" style="overflow:auto; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;height:100%;">
	<div class="fb_wrap">
    <div class="fb_left">
            <%=fields.properties.here()%>
            <div style="height:50px"></div>
    </div>
    <div class="fb_content">
        <div class="fb_property">
            <div class="fb_property_tit">Property</div>
             <%=fields.metadataPropertyInfo.here()%>
        </div>
        <div style="clear:both;"/>
        <div>
        	<%=methods.saveMetadata.here()%>
        </div>

        
    </div>
</div>
	
	
</div>


<%
		}
	}
%>