<% 
    if(value) {
%>
       

        <div style="float:right; text-align:center ; vertical-align:middle;">
             <a id="wBtn" href="#" onClick=""><span>검색</span></a>
             <a id="wBtn" href="#" onClick="<%=methods.newEntry.caller()%>"<span>새로 등록</span></a>
             <a id="wBtn" href="#" onClick=""><span>추출</span></a>
             <a id="wBtn" href="#" onClick=""><span>새로 고침</span></a>
        </div>
<%
}
%>