<% 
    if(value) {
%>
    <div class="dictionaryType">
        <%= fields.activityDictionary.here() %>
    </div>
    
    <div class="dictionaryType">
        <%= fields.documentationDictionary.here() %>
    </div>
    
    <div class="dictionaryType">
        <%= fields.processDictionary.here() %>
    </div>
    
    <div class="dictionaryType">
        <%= fields.roleDictionary.here() %>
    </div>

<%
}
%>