<%
if (value) {
%>
    <table>
        <tr>
           <td width="200"> 
                <a href="#" onClick="<%=methods.clickDictionary.caller()%>"
                    <span><%=value.dicType%></span>
                </a>
            </td>
        </tr>
    </table>
   
<%
}
%>

