<%
    if(value){
%>

        <div>
            <%= fields.dictionaryTopMenu.here() %>
        </div>
        
        <div style="float:left;_display:inline-block;width:33%; height:500px; margin-left:5px; margin-right:2px; border : 1px;">
                 <%= fields.dictionaryCategory.here() %>
        </div>
      
        <div style="float:left;_display:inline-block;width:65%; height:500px; margin-left:2px; margin-right:2px; border : 1px;">
                 <%= fields.dictionaryView.here() %>
        </div>
<%
    }
%>
