<%
	if(value){
%>
	<div id="facebook">
		<%=fields.facebookComments.here()%>
	</div>
	
	<br />
	<br />
	<br />
	
	<div id="workflowy">
		<%=fields.workflowyPanel.here()%>
	</div>
<%
	}
%>