<%
	var type = value.type;
	var icontype = '';
			
	if('process' == type)
		icontype = "briefcase"
	if('valuechain' == type)
		icontype = "link"
	if('java' == type)
		icontype = "code"
	if('navigator' == type)
		icontype = "menu2"
	if('page_white_text' == type)
		icontype = "file"

%>

<div id="navigationTitle" class="tabCurrent">
    <span style="margin-right:0px;padding-right:0px">
	    <div title="<%=mw3.localize(value.id)%>">
	    <div style="margin-right:18px"><b class="icon-<%=icontype%> tab_icon"></b><%=mw3.localize(value.name)%></div>
	    
	    </div>
    </span>
    <div class="togglebtnx" style="top:5px;" onClick="mw3.getFaceHelper(<%=objectId%>).remove(event);"></div>
    
</div>