<%

	if (value != null){	
%>
	<!--
	<div class="boxtopleft">
		<span class="boxtopright">
		</span>
	</div>		    		
	-->
	
	<div class="boxmiddleright">
	    <div class="boxmiddleleft">
			<div class="contentcontainer">
				<%=fields.tabs.here()%>
			</div>
		</div>
	</div>
	
	<div class="boxbottomleft">
		<span class="boxbottomright">
		</span>
	</div>
<%
     }
 %>