
<div class="fb_left">
	<%=fields.form.here()%>	
	<div></div>
</div>

<div class="fb_content">
	<%=fields.properties.here({htmlAttr:{class:'fb_property'}})%>
    <%=fields.menu.here({htmlAttr:{class:'fb_addForm'}})%>     
    <%=methods.formPreView.here()%> 
</div>