<%
if(value){
%>

<div>
<%=mw3.localize("$MyProjects")%>
</div>
			
			<span style="float:right;"><a id="wBtn" href="#" onClick="<%=methods.addProject.caller()%>"><%=mw3.localize('$CreateProject')%></a></span><div class="clear"></div><br>


<ul class="process_map2" style="border: none;"> 
	<%=fields.projectNode.here() %>
</ul>
<%
}
%>