<%
	if(value){
%>
		<div><%=methods.goIDE.here()%><%=methods.goAppStore.here()%></div>
		<div class="time_line _noti_list myapp_panel">
			<ul class="process_map2" style="padding:0px;">
				<%=fields.myAppsList.here()%>
			</ul>
		</div>
<%
	}
%>