<%
	if(value){
%>
		<div>
			<ul class="process_map2 allApp">
				<li onClick="<%=methods.goSNS.caller()%>"><img src="images/waveStyle/app_social.png"><div style="text-align:center">코디</div></li>
				<li onClick="<%=methods.goAppStore.caller()%>"><img src="images/waveStyle/app_market.png"><div style="text-align:center">앱스토어</div></li>
				<li onClick="<%=methods.goIDE.caller()%>"><img src="images/waveStyle/app_ide.png"><div style="text-align:center">개발도구</div></li>
			</ul>
		</div>

		<div>
			<%=fields.myAppsList.here()%>
		</div>
<!--		
		<div class="time_line _noti_list myapp_panel">
			<ul class="process_map2" style="padding:0px;">
				<%
				%>
			</ul>
		</div>
-->

<%
	}
%>