<%
	if(value){
%>
	<!-- <div class="depth1" onClick="<%=methods.select.caller()%>"><span><%=mw3.localize("$Contact")%></span></div> -->
	<div class="depth1"><span><%=mw3.localize("$Contact")%></span></div>
<%
		if(value.selected){
%>
	<div style="position:relative"><%=fields.contactPanel.here()%></div>
<%
		}
	}
%>
