<div id="searchbox">
	<div class="adduserline"> 
		<dl>
			<div class="usersAdded">
			 	<div id="replyUsers">
			 	
	<%
		if(value){
	%>		 	
			 	<dl>
				 	<dd>
			 			<%=fields.followers.here({options: {alignment:'horizontal'}})%>
			 		</dd>
	<%
			if((mw3.when == 'edit' || mw3.when == 'new') && mw3.when != "public"){
	%>				 		
			 		<dd>
						<img src="images/waveStyle/addUser.png" title="User 추가" onclick="javascript:<%=methods.addFollowers.caller()%>" style="margin-top:7px;">
			 		</dd>
	<%
			}
	%>				 		
			 	</dl>
	<%
		}
	%>
				</div>
			</div>
		</dl>
	</div>
</div>