<div style="position:absolute; right:10px; bottom:10px; z-index:1000;">
	<a id="wBtn" href="#" onClick="<%= methods.addFollowers.caller() %>"><span><%=mw3.localize("$Save")%></span></a>
	<a id="wBtn" href="#" onClick="<%= methods.cancle.caller() %>"><span><%=mw3.localize("$Cancle")%></span></a>
</div>