<%
	if(value != null) {
%>
		
		<li>
			<img class="navi_icon" src="images/waveStyle/nav_time.png">
			<a href="#" onClick="<%=methods.detail.caller()%>"><%=value.name%></a>
		</li>
<%
	}
%>