<% if(value!=null){ %>
	<li><a id="wBtn" href="#" onClick="<%=methods.schedule.caller()%>"><span>스케쥴</span></a></li>
	<li><a id="wBtn" href="#" onClick="<%=methods.remove.caller()%>"><span>삭제</span></a></li>
	<li><a id="wBtn" href="#" onClick="<%=methods.complete.caller()%>"><span>완료</span></a></li>
<% }%>