
<div class="view_box3 rolemapping" style="background:<%=value.mappedUser.userId ? "#D9EDF8":"#E8E8E8"%>; padding:8px; margin-bottom:20px;">
<center>
<b><%=value.roleName%></b>
<%=value.mappedUser.userId ? "" : "<font color=gray size=-3><br>(" + mw3.localize("$NotSet") + ")<br></font>"%>
<%=fields.mappedUser.here()%>
<div class="clear"></div>
</div>