<%
	if(value){
		var isFollower = false;
		var metadata = mw3.getMetadata(value.perspectiveInfo.__className);
			
		if(metadata.superClasses){
			for(var i=0; i<metadata.superClasses.length; i++){
				if(metadata.superClasses[i] == 'org.uengine.codi.mw3.model.FollowerPerspectiveInfo'){
					isFollower = true;
					
					break;
				}
			}
		}
		
		var height = 67;
		if(isFollower)
			height = 113;
%>
	<div class="top" style="height: <%=height%>px; overflow:hidden; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; top: 0px;">
		<%=fields.perspectiveInfo.here()%>
	</div>
	
	<div class="bottom" style="top: <%=height%>px; position: absolute; min-width: 0px; min-height: 0px; max-width: 10000px; max-height: 10000px;  left: 0px; right: 0px; bottom: 0px; overflow:auto">
		<%=fields.instanceListPanel.here()%>
	</div>
<%
	}
%>
	