<%
	if(value){
%>

<br><br>
	
	<%=fields.newInstantiator.here()%>	
	
	<div id="wihOrContent" style="width: 100%; text-align: center; font-size: 30px; font-weight: bold; "><%=mw3.localize("$or")%></div>
	
	<%=fields.processMapPanel.here()%>
<br><br>
	
	<!--table width="100%">
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_public_sns.png"> 퍼블릭 SNS </td>
	<td width="20%"><center>
	<img src="images/waveStyle/open_level_in_house.png"> 우리조직내부에 
	</td>
	<td width="40%"><center>
	<img src="images/waveStyle/open_level_follower_only.png"> 관련자만 
	</td>
	</table-->
	
	<%=fields.securityLevel.here({when:'edit'})%>
	
<%
	}
%>
