<div id="" style="float:left; margin-righ:20px; padding-top:17px; position:relative;">	
	<a class="badgeMail" href="javascript:<%=methods.showList.caller()%>">
<% 
	 if(value.newItemCount>0){
%>
		<div id="" style="position:absolute; top:16px; right:-17px;">	
			<a class="badgeRed" href="javascript:<%=methods.showList.caller()%>" style="display:none">
				<span><%=value.newItemCount%></span>
			</a>	
		</div>
<% 
	}else{
%>

		<img src="images/waveStyle/badgeMail.png" width=18>
<%
	}
%>
	</a>	
</div>
