<div class="depth1" onClick="<%=methods.select.caller() %>"><%=getMessage("Organization")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<ul class="fist_menu">
			<li><%=fields.dept.here()%></li>
		</ul>
	</div>
<%}else{%>
<%}%>