<%
	if(value){
%>	
	<dl>
		<dt><%=fields.title.here({when:'view'})%></dt>
		<dd>        
			<img src="images/processMap/newPrcessBgDefault.png" border="0" />
			<span><input name="iconbg" type="radio" value="white"  checked="checked"/></span>
		</dd>
		<dd>        
			<img src="images/processMap/newPrcessBgGray.png" border="0" />
			<span><input name="iconbg" type="radio" value="gray" /></span>
			</dd>
		<dd>        
			<img src="images/processMap/newPrcessBgRed.png" border="0" />
			<span><input name="iconbg" type="radio" value="red" /></span>
		</dd>
		<dd>        
			<img src="images/processMap/newPrcessBgGreen.png" border="0" />
			<span><input name="iconbg" type="radio" value="green" /></span>
		</dd>
		<dd>        
			<img src="images/processMap/newPrcessBgBlue.png" border="0" />
			<span><input name="iconbg" type="radio" value="blue" /></span>
		</dd>        
		<dd>        
			<img src="images/processMap/newPrcessBgPurple.png" border="0" />
			<span><input name="iconbg" type="radio" value="purple" /></span>
		</dd>                           
	</dl>
<%
	}
%>	