<div class="depth1" onClick="<%=methods.select.caller() %>"><%=mw3.localize("$Process")%></div>
<%if(value.selected){%>
	<div class="depth2">
		<ul class="fist_menu">
			<li><%=fields.processDefinitions.here() %></li>
		</ul>
	</div>
<%}else{%>
<%}%>