<%
	if(value){
		var session = mw3.getAutowiredObject('org.uengine.codi.mw3.model.Session');
		
		var admin = false;
		if(session && session.employee)
			admin = session.employee.isAdmin;
		
		if(value.processMapList){
%>
<div class="view_box" id="hiddenReply" style="display: block; ">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">
		<p class="title"><%=mw3.localize("$ActivityApps")%></p>
	
		<ul class="process_map2">		
						
<%
			for (var i=0; i<value.processMapList.length; i++){
				if(typeof options == 'undefined') 
					options = objectMetadata;
			
				options['index'] = i;
				options['htmlTag'] =  'li';
%>
						<%=mw3.locateObject(value.processMapList[i], value.processMapList[i].__className, null, options)%>	
<%
				mw3.addBeanProperty(value.__objectId, '.processMapList[' + i + ']');
			}
%>
		</ul>
<%
			if(admin){
%>					
		<div id="btnline" style="padding-top:8px;">
			<ul>
				<li><a id="wBtn" href="javascript:<%=methods.append.caller()%>"><span><%=mw3.localize("$add")%></span></a></li>
			</ul>
		</div>
<%
			}
%>					
		<div class="clear"></div>		
	</div>

	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>


<%
		}
	}
%>	