<table>
	<tr>
		<td> 
			<%=fields.date.here()%>
		</td>
		<td>
			<%=fields.hour.here()%>
		</td>
		<td> 
			시
		</td>
		<td>
			<%=fields.minute.here()%>
		</td>
		<td> 
			분
		</td>
	</tr>
	
</table>