<%
    if( value ){
%>
        <table class="commentTable" border="0" cellspacing="0" cellpadding="0" style="width:100%; border:none;">
            <tr>
                <td width="20" style="border:none; padding:12px 0 0 0; background:none"><img src="images/waveStyle/re.gif" /> </td>
                <td width="40" style="border:none; padding:0; background:none"><%=fields.writer.here({when:'followers'})%></td>
                <td style="border:none;padding:0; background:none"> <%=value.title%></td>
                <td width="40" style="border:none;padding:10px 0 0 0; background:none">
                <%
                    var session = mw3.getAutowiredObject("org.uengine.codi.mw3.model.Session");
                    var itIsMe = (session && session.user.userId == value.endpoint);
                    if(itIsMe){
                %>
                    <img class="deleteCommentIcon" src="images/waveStyle/delete.png" onclick="<%=methods.remove.caller()%>" style="cursor:pointer; display:none"/>
                <%
                    }
                %>
                </td>
            </tr>
        </table>
<%
    }
%>

