<%if(value){%>
<div style="position:relative;">
	<div id="divGanttChart_<%=objectId%>_Title" style="position:absolute;left:0px;top:0px;z-index: 1;">
		<h1>Gantt Chart.</h1>
	</div>
	<div id="divGanttChart_<%=objectId%>" style="position:absolute;left:0px;top:20px;z-index: 2;"></div>
</div>
<%}%>