<%
	if(value){
%>
		<div class="top_iconmenu">
			<span class="icon-cog2"  onClick="<%=methods.showSelfService.caller()%>" ></span>
			<!--<span class="icon-bubbles3"  onClick="<%=methods.showChat.caller()%>" ></span>-->
			<span class="glyphicon glyphicon-th" onClick="<%=methods.showApps.caller()%>" ></span>
		</div>
<%
	}
%>