<%
	if(value){
%>
		<div class="top_iconmenu">
			<span class="icon-mail2" onClick="<%=methods.popupFeedback.caller()%>" title="Feedback"></span>
			<span class="icon-cog2"  onClick="<%=methods.showSelfService.caller()%>" title="Self Service"></span>
			<!--<span class="icon-bubbles3"  onClick="<%=methods.showChat.caller()%>" ></span>-->
			<span class="glyphicon glyphicon-th" onClick="<%=methods.showApps.caller()%>" title="Apps"></span>
			
		</div>
<%
	}
%>