
<div class="view_box">
	<div class="guide">
		<span class="tl"></span>
		<span class="tr"></span>
	</div>
	<div class="cont">	
		<div>
			<%=fields.parameters.here()%>
		</div>
		<div id="btnline" style="padding-top:8px;">
			<ul>	
				<li><a id="wBtn" href="javascript:<%=methods.complete.caller()%>"><span>Complete</span></a></li>
				<li><a id="wBtn" href="javascript:<%=methods.save.caller()%>"><span>Save</span></a></li>
				<li><a id="wBtn" href="javascript:<%=methods.cancel.caller()%>"><span>Cancel</span></a></li>
			</ul>
		</div>

	</div>
	<div class="guide">
		<span class="lb"></span>
		<span class="rb"></span>
	</div>
</div>

