<%
	if(value){
%>
	
	<div class="view_box" id="hiddenReply" style="display: block; ">
		<div class="guide">
			<span class="tl"></span>
			<span class="tr"></span>
		</div>
		<div class="cont">
			<p class="title" style="font-size:14px; font-weight:bolder;  position:absolute; top:-20px; left:15px; background:#fff; padding:0 10px;">knowlege</p>
			<%=fields.wfPanel.here()%>
		</div>
		<div class="guide">
			<span class="lb"></span>
			<span class="rb"></span>
		</div>
	</div>
	
	<div class="view_box" id="hiddenReply" style="display: block; ">
		<div class="guide">
			<span class="tl"></span>
			<span class="tr"></span>
		</div>
		<div class="cont">
			<p class="title" style="font-size:14px; font-weight:bolder;  position:absolute; top:-20px; left:15px; background:#fff; padding:0 10px;">comments</p>
			<%=fields.facebookComments.here()%>
		</div>
		<div class="guide">
			<span class="lb"></span>
			<span class="rb"></span>
		</div>
	</div>	
			
<%
	}
%>