<%
	if(value){
%>
	<%=fields.pageNavigator.here()%>
<div id="container" class="ui-layout-container" style="overflow: hidden; ">
	<%=fields.layout.here()%>
</div>
		
	<div class="logo"><table><tr><td><img src="images/waveStyle/logo.gif"></td></tr></table></div>	
    <div class="info">
    	
        <%if(mw3.when!='__design-depth2'){//TODO: later, rather use 'where' than 'when'.%>
        	<%=fields.session.here({when:'view'})%>
        <%}else{%>
        	session here.
        <%}%>	
		<font face="Eurostile" color="#aaaabb">UClipse Cloud IDE</font>
	</div>		
<%
	}
%>