<div id="tabs_assist" class="stContainer">
    <ul class="stContainer_ul">
        <li><a id="atabs-1" href="#assist_tabs-1"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/java.png">
            
            </a></li>
        <li><a href="#assist_tabs-2"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/url.png">
            
            </a></li>
        <li><a href="#assist_tabs-3"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/database.png">
            
            </a></li>
        <li><a href="#assist_tabs-4"> <img class='logoImage2' border="0" width="50px" src="images/waveStyle/cart.png">
            
            </a></li>
    </ul>
    <div id="assist_tabs-1" class="right_div">
       <div id="container_content" style="overflow:auto; width:580px; height:300px;">
			<ul id="assistancesList_<%=objectId%>">
		
<%
			if(value.assistances.length == 0){
%>
				<li><span>No Default Proposals</span></li>
<%			
			}
%>
			</ul>
	            
    	</div>    	
    </div>
    
    <!------------------------------------- END OF THE CONTENT ------------------------------------------------->     
    <div id="assist_tabs-2" class="right_div">
        <div class="module_content" style="width:580px; margin-left:0px;"></div>
    </div>
    <div id="assist_tabs-3" class="right_div">
        <div class="module_content" style="width:580px; margin-left:0px;"></div>
    </div>
    <div id="assist_tabs-4" class="right_div">
        4444444444444
    </div>
</div>