<table>

<%
   
   mw3.debug(value, true)
   
   if(objectMetadata.serviceMethodContexts)
   for(var key in objectMetadata.serviceMethodContexts){
   		var serviceMethod = objectMetadata.serviceMethodContexts[key];
%><td><%=methods[serviceMethod.methodName].here()%> </td> <%   
   }
%>

</table>