<%
	var leftTree = {
		__className : 'org.uengine.codi.mw3.webProcessDesigner.MappingTree',
		id : 'leftTree' ,
		align : 'left'
	};
	var rightTree = {
		__className : 'org.uengine.codi.mw3.webProcessDesigner.MappingTree',
		id : 'rightTree' ,
		align : 'right'
	};

%>



<div align="center">
    <div style="position: relative; left: 0; top:20px; width: 700px; height: 400px; background-color: #f6f6f6;">
        <div id="tree1" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="left"><%= mw3.locateObject(leftTree) %></div>
        <div id="canvas2" style="width:300px; height: 400px;  float: left;"></div>
        <div id="tree2" style="width:200px; height: 400px; float: left; background-color: #f6f6f6;" align="right"><%= mw3.locateObject(rightTree) %></div>
    </div>
</div>