

<div id="addContact-con" class="clue-right-rounded cluetip-rounded" style="position:absolute; top:400px; left:200px; bottom:600px; width:200px">
 <div id="cluetip-outer">
  <h3 id="cluetip-title">Add Codi Friend</h3>
  <div id="cluetip-inner">
   <div id="cluetip-close1">
    <a><img src="scripts/jquery/cluetip/images/cross.png"></a>
   </div>
   <div id="addcontact-con" style="display: block;">

<%=fields.friends.here({when: 'addContact'})%>

   </div>
  </div>
 </div>
 <div id="cluetip-extra"></div>
 <!-- <div class="cluetip-arrows" style="top: 10px; display: block; z-index: 98;"></div>  -->
</div>

