<div class="adduserline"> 
	<dl>
		<div class="usersAdded">
		 	<div id="replyUsers">
		 	<table>
			 	<td>
		 	<%=fields.followers.here({options: {alignment:'horizontal'}})%>
		 		</td>
		 		<td>
					<img src="images/waveStyle/addUser.png" title="User 추가" onclick="<%=methods.addFollowers.caller()%>">
		 		</td>
		 	</table>
			</div>
		</div>
	</dl>
</div>