<%
	if(value){
%>
	<div class="tab_layout">
		<div class="tab_boxtopleft">
		
<%	
		for (var i=0; i<objectMetadata.fieldDescriptors.length; i++){						  
			var fd = objectMetadata.fieldDescriptors[i];
		  	
		  	if(fd.attributes && (fd.attributes['hidden'] || fd.attributes['resource'])) continue;
		  	if(fd.name == 'metaworksContext') continue;
		  	
		  	var fieldValue = value[fd.name];			
%>
			<%=fields[fd.name] ? fields[fd.name].here() : "XXX"%>
<%
		}						   
%>							
		</div>
	</div>
<%
	}
%>