<% if(value){ %>
		<div style="height:20px; background-color:#EEEEEE; border-bottom:2px solid #cccccc; margin-bottom:2px;"><font size=2 color=#330066 style="font-family: 'Vedana'; color:#330066;"><b> - 절차서 속성 정보</font></b></div>
	<div style="padding-left:10px;">
	<div>
	<font size=2 color=blue style="font-family:'Verdana';"><b>목적<p></b></font>
	<%=value.departManagement%>
	
	<P>
	<font size=2 color=blue style="font-family:'Verdana';"><b>적용범위<p></b></font>
	<%=fields.regulation.here()%>
	
	<p>
	
	<font size=2 color=blue style="font-family:'Verdana';"><b>참조</b></font>
	<%=fields.define.here()%>
	<p>
	<font size=2 color=blue style="font-family:'Verdana';"><b>정의</b></font>
	<%=fields.description.here()%>
	</div></div>
<%}%>

