<% if( value ){ %>
    <% 
        if( mw3.how == 'snsView' ){
            if( value.detailList ){
               for(var i =0; i < value.detailList.length; i++){
                  var activity = value.detailList[i];
    %>
                    <b><%=( activity.description && activity.description.text &&  activity.description.text != 'null' ) ? activity.description.text : '' %></b>
                    <%=( activity.documentation.activityDetail.contents && activity.documentation.activityDetail.contents != 'null' ) ? activity.documentation.activityDetail.contents : "" %>
                    <div class="clear"></div>         
    <%
                }
            } 
        } 
     %>
<% } %>