<span style="position:relative; float:left; width:0px; height:0px; overflow:hidden; cursor:pointer; background-image:url('http://wstatic.naver.com/w9/btn_sch.gif');">
   <input type="file" id="<%=mw3.createInputId(objectId)%>" name="<%=mw3.createInputId(objectId)%>" style='position：absolute; margin-left:-10px; width:0px; height:0px; filter:alpha(opacity=0); opacity:0; -moz-opacity:0; cursor:pointer;'>
</span>