<%
    if(value){
    
%>
    <div class="detailView_app_outer">
    
        <div class="positionRight">
            <img style="cursor: pointer;" src="images/marketPlace/leftBtn02.gif" onClick="<%=methods.manageApp.caller()%>" />
        </div>
        <div class="clear"></div>
        <br />
        <%=fields.projectServers.here()%>
    </div>
<%
    }
%>