<div class="form_table2"> 
	<table border="1" cellspacing="0">
		<tr>
			<th>
				OS 선택
			</th>
			<td>
				<%=fields.osSelect.here()%>
			</td>
		</tr>
		<tr>
			<th>
				웹서버 선택
			</th>
			<td>
				<%=fields.wasSelect.here()%>
			</td>
		</tr>
		<tr>
			<th>
				디비서버 선택
			</th>
			<td>
				<%=fields.dbSelect.here()%>
			</td>
		</tr>
	</table>
</div>