<%  
 if(value==null){
 	value = "0";
  }
	
	if(mw3.when == mw3.WHEN_EDIT || mw3.when == mw3.WHEN_NEW){
%>
	 <input id="<%=mw3.createInputId(objectId)%>" value="<%=value%>">
	
<%

	}else{
%>
<table width=100%><td align=right>
	 <%=value%>
</td></table>
<%
	}
%> 